@import "./globales.scss";

//BARRA DE NAVEGACION
header{
    display: flex;
    justify-content: center;
}

.nav-container {
    max-width: 1200px;
    height: 108px;
    
   
    //LOGO MLA
    picture {
        justify-self: flex-start;
        align-self: flex-start;
        justify-content: flex-start;
        width: 30%;
        
        img {
            width: 230px;
            height:60px;
            margin: 0;
            margin-top: 16px;
        }
    } 

    //LOGO DE NAVEGACION
    &__navbar {
         width: 70%;
 
         ul {

            li a {
                font-size: 1.6rem;
            }
        }
    }
 
    .boton{
        width: 130px;
        height: 40px;
    }
}

//CONTENEDOR PRINCIPAL
.main-container {
    width: 100%;

    // SECCION DE CONTACTO
    &__contacto {
        width: 100%;
        background-color: $colorPrincipal;
        font-weight: 400;
        display: flex;
        flex-direction: column;

        h2 {
            margin-left: 195px;
            font-size: 4.4rem;
            font-weight: 300;
            padding: 0 14px;
            margin-bottom: 20px;
            padding-top: 48px;
        }

        section{
            margin-left: 195px;
            padding: 0 14px;
            display: flex;
            flex-direction: column;
        }
    }

    //MAPA
    &__mapa {
        width: 100%;
        height: 500px;
        
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}

//FOOTER
.footer-container {
    justify-content: center;
    gap: 120px;
    
    //NAVEGACION
    &__navbar {
        max-width: 1300px;
        width: 40%;
    }
}

/*SOBRE NOSOTROS*/

main {
    .nosotros{
        
        &__text-container{
            width: 70%;

            h2{
                font-size: 4rem;
                font-weight: 400;
                margin-bottom: 16px;
            }
            p{
                font-size: 2rem;
                font-weight: 400;
                line-height: 32px;
            }
        }
    }

    .nosotrosVideo {
        max-width: 1400px;
        margin: 0 auto;

        .nosotrosVideo__text {
            padding: 64px 32px;
            
            h2 {
                font-size: 2.1rem;
                margin-bottom: 20px;
                line-height: 2.4rem;
            }

            p{
                font-size: 1.6rem;
                line-height: 2.2rem;
            }
        }
    }

    .nosotrosMV {
                
        .nosotrosMV__text{
            width: 100%;
            max-width: 1400px;
            justify-content: center;
            
            .nosotrosMV__text--1 {
                width: 575px;
                                
                p {
                    font-weight: 400;
                }
            }
            

            .nosotrosMV__text--2 {
                width: 566px;
               
                
                p {
                    font-weight: 400;
                }
            }
        }
    }

    .nosotrosValores {

        .nosotrosValores__container{

            .nosotrosValores__item-container{
                flex-wrap: nowrap;
                gap: 40px;
                max-width: 1400px;
                
                .nosotrosValores__item{
                    width: 220px;
                    height: 350px;
                    
                    picture{
                        
                        img{
                            width: 168px;
                            height: 108px; 
                        }

                        .organizador{
                            margin-bottom: 24px;
                        }
                    }
                }
            }
        }
        
        .nosotrosValores__calidad{
            max-width: 1400px;
        }
    }

    .nosotrosExp{
        width: 100%;
        background-color: $colorPrincipal;
        display: flex;
        justify-content: center;

        .nosotrosExp__container{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 90%;
            padding-top: 48px;

            h2{
                font-size: 3.5rem;
                font-weight: 400;
                color: #001F41;
                margin-bottom: 8px;
            }

            p{
                font-size: 1.9rem;
                margin: 0 12px;
                margin-bottom: 28px;
            }

            .nosotrosExp__list{
                display: flex;
                gap: 10px;
                margin-bottom: 48px;
                ul {
                    list-style: none;

                    li{
                        width: 150px;
                        height: 40px;
                        font-size: 1.4rem;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}