@import "./globales.scss";

//BARRA DE NAVEGACION
header{
    display: flex;
    justify-content: center;
}

.nav-container {
    max-width: 1200px;
    height: 108px;
    
   
    //LOGO MLA
    picture {
        justify-self: flex-start;
        align-self: flex-start;
        justify-content: flex-start;
        width: 30%;
        
        img {
            width: 230px;
            height:60px;
            margin: 0;
            margin-top: 16px;
        }
    } 

    //LOGO DE NAVEGACION
    &__navbar {
         width: 70%;
 
         ul {

            li a {
                font-size: 1.6rem;
            }
        }
    }
 
    .boton{
        width: 130px;
        height: 40px;
    }
}

//CONTENEDOR PRINCIPAL
.main-container {
    width: 100%;

    // SECCION DE CONTACTO
    &__contacto {
        width: 100%;
        background-color: $colorPrincipal;
        font-weight: 400;
        display: flex;
        flex-direction: column;

        h2 {
            margin-left: 195px;
            font-size: 4.4rem;
            font-weight: 300;
            padding: 0 14px;
            margin-bottom: 20px;
            padding-top: 48px;
        }

        section{
            margin-left: 195px;
            padding: 0 14px;
            display: flex;
            flex-direction: column;
        }
    }

    //MAPA
    &__mapa {
        width: 100%;
        height: 350px;
        background-color: black;
    }
}

//FOOTER
.footer-container {
    justify-content: center;
    gap: 240px;
    
    //NAVEGACION
    &__navbar {
        width: 40%;
    }
}