//Esto es un modulo de main.scss

//FOOTER
.footer-container {
    width: 100%;
    height: 197px;
    background-image: url(../img/bg-section.webp);
    background-position: center;
    background-size: cover;
    background-position-x: right;
    background-repeat: no-repeat;
    color: $colorLetra2;
    display: flex;
    flex-direction: column;
    
    //BARRA DE NAVEGACION. ESTO SOLO ES VISIBLE EN PANTALLAS MAS GRANDES. NO BORRAR.
    &__navbar {
        display: none;
    }
    
    //CONTENEDOR DE LA IMÁGEN Y EL TEXTO DE COPIRYGHT
    .footer-movil__container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        picture img {
            width: 120px;
            height: 66px;
        }
        
        p {
            font-size: 1.3rem;
            font-weight: 300;
        }
    }
}

//TABLET
@media (min-width: $breakpoint-tablet) {
    .footer-container {

        //Logo y letras del footer alineados en horizontal.
        .footer-movil__container{
            flex-direction: row;
            gap: 60px;
           
            //tamaño de la imagén y el texto aumentados.
            picture img {
                width: 150px;
                height: 90px;
                margin-top: 8px;
            }
            
            p {
                font-size: 1.6rem;
            }
        }
    }
}

//LAPTOP
@media(min-width: $breakpoint-laptop){
    .footer-container {
        height: 173px;
        display: flex;
        flex-direction: row;
        gap: 64px;
        justify-content: center;
    
        //BARRA DE NAVEGACIÓN
        &__navbar {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            
            ul {
                list-style: none;
                display: flex;
                gap: 20px;
                padding-left: 20px;
    
                li a {
                    text-decoration: none;
                    color: $colorLetra2;
                    font-weight: 300;
                }
            }
        }
    
        //CONTENEDOR DEL LOGO
        .footer-movil__container{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-right: 20px;
    
            p {
                font-size: 1.4rem;
            }
        }
    }
}

//DESKTOP
@media(min-width: $breakpoint-desktop){
    .footer-container {
        justify-content: center;
        gap: 120px;
        
        //NAVEGACION
        &__navbar {
            max-width: 1300px;
            width: 40%;
        }
    }
}