//Esto es un modulo de main.scss

//FOOTER
.footer-container {
    width: 100%;
    height: 197px;
    background-image: url(../img/bg-section.webp);
    background-position: center;
    background-size: cover;
    background-position-x: right;
    background-repeat: no-repeat;
    color: $colorLetra2;
    display: flex;
    flex-direction: column;
    
    //BARRA DE NAVEGACION. ESTO SOLO ES VISIBLE EN PANTALLAS MAS GRANDES. NO BORRAR.
    &__navbar {
        display: none;
    }
    
    //CONTENEDOR DE LA IMÁGEN Y EL TEXTO DE COPIRYGHT
    .footer-movil__container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        picture img {
            width: 120px;
            height: 66px;
        }
        
        p {
            font-size: 1.3rem;
            font-weight: 300;
        }
    }
}