@import "globales.scss";

//NAVEGACIÓN
.nav-container {
   height: 94px;

    //LOGO
    picture {
        justify-self: flex-start;
        align-self: flex-start;
        justify-content: flex-start;
        width: 30%;
        
        img {
            width: 200px;
            height: 50px;
            margin-left: 32px;
            margin-top: 16px;
        }
    }

    //Este es el menu de la version movil, no borrar
    &__menu {
        display: none;
    }

    //BARRA DE NAVEGACIÓN
    &__navbar {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        width: 55%;

        ul {
            display: flex;
            list-style: none;
            gap: 16px;
            
            li a {
                text-decoration: none;
                font-size: 1.4rem;
                color: $colorLetra1;
                padding-bottom: 4px;
            }

            li a:hover {
                border-bottom: 1px solid #333;
            }
        }
    }

    //BOTON DE CAMBIO DE IDIOMAS
    .boton{
        display: block;
        width: 120px;
        height: 30px;
        font-size: 1.1rem;
        text-decoration: none;
        border: 1px solid $colorTerciario;
        font-weight: 500;
        color: $colorTerciario;
        margin-left: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

//CONTENEDOR PRINCIPAL
.main-container {

    //seccion de respaldo
    &__respaldo {
        height: 448px;
        padding: 0;
        padding-top: 58px;
        display: flex;
        justify-content: center;

        section {
            width: 1300px;
            display: flex;
            justify-content: center;
            gap: 8px;

            //MIXIN ITEM RESPALDO
            .main-container__item {
                margin-bottom: 0px;
                width: 33%;

                h2 {
                    padding: 0;  
                }

                p {
                    padding: 0 8px;
                }
            }
        } 
    }

    //CAPITAL HUMANO
    &__capital-humano {
        
        .capital-humano__container {
            
            //MIXIN SOCIOS | Puesto en horizontal y con espaciado.
            .capital-humano__socios{
                max-width: 1200px;
                gap: 32px;
                flex-wrap: nowrap;                         
            }

            //BOTON AL FINAL DE LA SECCION | Tamaño aumentado un poco.
            a {
                width: 180px;
                height: 50px;
                font-size: 1.6rem;
            }
        }
    }
    //MAPA
    &__mapa {
        width: 100%;
        height: 400px;

        iframe{
            width: 100%;
            height: 100%;
        }
    }
}

//FOOTER
.footer-container {
    height: 173px;
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: center;

    //BARRA DE NAVEGACIÓN
    &__navbar {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        
        ul {
            list-style: none;
            display: flex;
            gap: 20px;
            padding-left: 20px;

            li a {
                text-decoration: none;
                color: $colorLetra2;
                font-weight: 300;
            }
        }
    }

    //CONTENEDOR DEL LOGO
    .footer-movil__container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-right: 20px;

        p {
            font-size: 1.4rem;
        }
    }
}

//----------------------------------------------------------//
                    /*SOBRE NOSOTROS*/
//---------------------------------------------------------//
main {
    
    .nosotrosVideo {
        //importante

        .nosotrosVideo__text {
            padding: 64px 40px;
            
            h2 {
                font-size: 2.4rem;
                line-height: 3.2rem;
            }

            p{
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
        }
    }

    .nosotrosMV {
        
        .nosotrosMV__text{
            width: 90%;
            display: flex;
            flex-direction: row;
            gap: 64px;
            
            .nosotrosMV__text--1 {
                width: 448px;
                h2 {
                    font-size: 3.5rem;
                    margin-bottom: 20px;
                }
                
                p {
                    font-size: 1.6rem;
                    margin-bottom: 40px;
                    line-height: 2.4rem;
                    font-weight: 300;
                }
            }
            

            .nosotrosMV__text--2 {
                width: 448px;
                h2 {
                    font-size: 3.5rem;
                    margin-bottom: 20px;
                }
                
                p {
                    font-size: 1.6rem;
                    margin-bottom: 40px;
                    line-height: 2.4rem;
                    font-weight: 300;
                }
            }
        }
    }

    .nosotrosValores {

        .nosotrosValores__container{

            .nosotrosValores__item-container{
                flex-wrap: nowrap;
                gap: 40px;
                
                .nosotrosValores__item{
                    width: 160px;
                    height: 350px;
                    
                    picture{
                        
                        img{
                            width: 168px;
                            height: 108px; 
                        }

                        .organizador{
                            margin-bottom: 16px;
                        }
                    }
                }
            }
        }
    }



            //CONOCIMIENTO DE GRID NECESARIO
//---------------------------------------------------------//
    .nosotrosExp{
        width: 100%;
        background-color: $colorPrincipal;
        display: flex;
        justify-content: center;

        .nosotrosExp__container{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 90%;
            padding-top: 48px;

            h2{
                font-size: 3.5rem;
                font-weight: 400;
                color: #001F41;
                margin-bottom: 8px;
            }

            p{
                font-size: 1.9rem;
                margin: 0 12px;
                margin-bottom: 28px;
            }

            .nosotrosExp__list{
                display: flex;
                gap: 10px;
                margin-bottom: 48px;
                ul {
                    list-style: none;

                    li{
                        width: 150px;
                        height: 40px;
                        font-size: 1.4rem;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}

//-----------------------------------------------------------------//
//REGISTROS Y MEMBRESIAS
//-----------------------------------------------------------------//

.RMtitular{

    &__text-container{

        h2{
            font-size: 4rem;
        }
        p{
            font-size: 2rem;
            line-height: 30px;
        }
    }
}

.membresia{
  
    &__titular {
    }

    &__item-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .membresia__item{
            width: 256px;
            margin: 0 10px 40px;
    
            picture{
                img {
                    width: 250px;
                    height: 150px;
                }
            }
    
            h2{
            }
        }
    }
}

.registro {
    margin-bottom: 60px;

    &__titular {
    }

    &__item-container{
        gap: 20px;
        .registro__item {
            width: 220px;
    
            h2{
                font-size: 1.5rem;
                font-weight: 400;
            }
        }
    }
}