@import "globales.scss";

header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-container {
   max-width: 1440px;
   height: 94px;

    picture {
        justify-self: flex-start;
        align-self: flex-start;
        justify-content: flex-start;
        width: 30%;
        
        img {
            width: 200px;
            height: 50px;
            margin-top: 16px;
        }
    }

    &__menu {
        display: none;
    
    }

    &__navbar {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        width: 55%;

        ul {
            display: flex;
            list-style: none;
            gap: 16px;
            
            li a {
                text-decoration: none;
                font-size: 1.4rem;
                color: $colorLetra1;
            }
        }
    }

    .boton{
        display: block;
        width: 120px;
        height: 30px;
        font-size: 1.1rem;
        text-decoration: none;
        border: 1px solid #043877;
        font-weight: 500;
        color: #043877;
        margin-left: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.main-container {
    width: 100%;

    //carrusel principal
    &__carrusel{
        width: 100%;

    }

    //seccion de respaldo
    &__respaldo {
        height: 448px;
        padding: 0;
        padding-top: 58px;


        //mixin de pug
        section {
            display: flex;
            justify-content: center;
            gap: 8px;
        }
        .main-container__item {
            margin-bottom: 0px;
            width: 33%;

            h2 {
                padding: 0;
                
            }
            p {
                padding: 0 8px;
            }
        }
    }

    //Carrusel de clientes
    &__clientes {
        width: 100%;
        height: 390px;
        background-color: $colorSecundario;
        
        div {
            display: flex;
            height: 100%;
            flex-direction: column;
            text-align: center;
            margin-top: 64px;

            h2 {
            font-size: 48px;
            font-weight: 300;
            margin-bottom: 50px;
            }
        
        }
        
    }

    //Capital Humano
    &__capital-humano {
        width: 100%;
        background-image: url(../img/bg-section.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: $colorLetra2;
        display: flex;
        justify-content: center;

        .capital-humano__container {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-top: 48px;
            margin-bottom: 80px;
           
            h2 {
                font-size: 3rem;
                font-weight: 200;
                margin-bottom: 8px;
            }
    
            p {
                font-size: 1.4rem;
                font-weight: 200;
                margin-bottom: 24px;
                line-height: 2.2rem;
            }

            .capital-humano__socios{
                max-width: 1200px;
                gap: 32px;
                flex-wrap: nowrap;
                                           
            }
            a {
                width: 164px;
                height: 40px;
                font-size: 1.4rem;
            }
        }
    }
}

.footer-container {
    width: 100%;
    height: 197px;
    background-image: url(../img/bg-section.jpg);
    background-position: center;
    background-size: cover;
    background-position-x: right;
    background-repeat: no-repeat;
    color: $colorLetra2;
    display: flex;
    flex-direction: row;
    
    &__navbar {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        

        ul {
            list-style: none;
            display: flex;
            gap: 32px;
            padding-left: 20px;

            li a {
                text-decoration: none;
                color: $colorLetra2;
                font-weight: 300;
            }
        }
    }

    .footer-movil__container{
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        picture img {
            width: 140px;
            height: 77px;
        }
    }
}