@import "globales.scss";


.nav-container {
   height: 94px;

    picture {
        justify-self: flex-start;
        align-self: flex-start;
        justify-content: flex-start;
        width: 30%;
        
        img {
            width: 200px;
            height: 50px;
            margin-top: 16px;
        }
    }

    &__menu {
        display: none;
    }

    &__navbar {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        width: 55%;

        ul {
            display: flex;
            list-style: none;
            gap: 16px;
            
            li a {
                text-decoration: none;
                font-size: 1.4rem;
                color: $colorLetra1;
            }
        }
    }

    .boton{
        display: block;
        width: 120px;
        height: 30px;
        font-size: 1.1rem;
        text-decoration: none;
        border: 1px solid #043877;
        font-weight: 500;
        color: #043877;
        margin-left: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

//CONTENEDOR PRINCIPAL
.main-container {

    //seccion de respaldo
    &__respaldo {
        height: 448px;
        padding: 0;
        padding-top: 58px;
        display: flex;
        justify-content: center;

        section {
            width: 1300px;
            display: flex;
            justify-content: center;
            gap: 8px;

            //MIXIN ITEM RESPALDO
            .main-container__item {
                margin-bottom: 0px;
                width: 33%;

                h2 {
                    padding: 0;  
                }

                p {
                    padding: 0 8px;
                }
            }
        } 
    }

    //CAPITAL HUMANO
    &__capital-humano {
        
        .capital-humano__container {
            
            //MIXIN SOCIOS | Puesto en horizontal y con espaciado.
            .capital-humano__socios{
                max-width: 1200px;
                gap: 32px;
                flex-wrap: nowrap;                         
            }

            //BOTON AL FINAL DE LA SECCION | Tamaño aumentado un poco.
            a {
                width: 180px;
                height: 50px;
                font-size: 1.6rem;
            }
        }
    }
}

//FOOTER
.footer-container {
    display: flex;
    flex-direction: row;
    gap: 64px;

    //BARRA DE NAVEGACIÓN
    &__navbar {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        
        ul {
            list-style: none;
            display: flex;
            gap: 20px;
            padding-left: 20px;

            li a {
                text-decoration: none;
                color: $colorLetra2;
                font-weight: 300;
            }
        }
    }

    //CONTENEDOR DEL LOGO
    .footer-movil__container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-right: 20px;
    }
}