* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
/*navegación*/
.nav-container {
  width: 100%;
  height: 57px;
  background-color: #f2f2f2;
}
.main-container {
  width: 100%;
}
.main-container__carrusel {
  width: 100%;
  height: 480px;
  background-color: gray;
}
.main-container__respaldo {
  width: 100%;
  height: 1092px;
  background-color: #f2f2f2;
}
.main-container__clientes {
  width: 100%;
  height: 292px;
  background-color: gray;
}
.main-container__capital-humano {
  width: 100%;
  height: 1864px;
  background-color: #f2f2f2;
}
.main-container__noticias {
  width: 100%;
  height: 1203px;
  background-color: gray;
}
.main-container__contacto {
  width: 100%;
  height: 1354px;
  background-color: #f2f2f2;
}
.main-container__mapa {
  width: 100%;
  height: 500px;
  background-color: grey;
}
.footer-container {
  width: 100%;
  height: 300px;
  background-color: blue;
}
