@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

header {
  background-color: #F7F7F7;
}

.nav-container {
  width: 100%;
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
}
.nav-container picture {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-container picture img {
  width: 150px;
  height: 37px;
  margin-left: 20px;
}
.nav-container__menu img {
  width: 30px;
  height: 30px;
}
.nav-container__navbar {
  display: none;
}
.nav-container .boton {
  display: none;
}

/*PÁGINA DE INICIO*/
.main-container {
  width: 100%;
}
.main-container__carrusel {
  width: 100%;
  height: 480px;
  background-color: blue;
}
.main-container__respaldo {
  width: 100%;
  height: 1200px;
  background-color: #F7F7F7;
  padding-top: 52px;
}
.main-container__respaldo .main-container__item {
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 48px;
}
.main-container__respaldo .main-container__item img {
  width: 250px;
  height: 125px;
  margin-bottom: 24px;
  border-radius: 4px;
}
.main-container__respaldo .main-container__item h2 {
  font-weight: 400;
  font-size: 2.6rem;
  padding: 0 20px;
  margin-bottom: 8px;
  line-height: 30px;
}
.main-container__respaldo .main-container__item p {
  margin: 0 14px;
  font-size: 1.4rem;
  line-height: 24px;
}
.main-container__clientes {
  width: 100%;
  height: 390px;
  background-color: white;
}
.main-container__clientes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 64px;
}
.main-container__clientes div h2 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 50px;
}
.main-container__capital-humano {
  width: 100%;
  background-image: url(../img/bg-section.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-container__capital-humano .capital-humano__container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 48px;
  margin-bottom: 80px;
}
.main-container__capital-humano .capital-humano__container h2 {
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 8px;
}
.main-container__capital-humano .capital-humano__container p {
  font-size: 1.4rem;
  font-weight: 200;
  margin-bottom: 24px;
  line-height: 2.2rem;
}
.main-container__capital-humano .capital-humano__container .capital-humano__item {
  margin-bottom: 24px;
}
.main-container__capital-humano .capital-humano__container .capital-humano__item img {
  width: 160px;
  height: 240px;
  border-radius: 4px;
  box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.54);
  margin-bottom: 12px;
}
.main-container__capital-humano .capital-humano__container .capital-humano__item h2 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 0;
}
.main-container__capital-humano .capital-humano__container .capital-humano__item p {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0;
}
.main-container__capital-humano .capital-humano__container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 164px;
  height: 40px;
  border: 1px solid #089de8;
  text-decoration: none;
  color: white;
  font-weight: 300;
  border-radius: 4px;
  font-size: 1.4rem;
}
.main-container__noticias {
  width: 100%;
  height: 500px;
  background-color: white;
}
.main-container__contacto {
  width: 100%;
  background-color: #F7F7F7;
  font-weight: 400;
}
.main-container__contacto h2 {
  font-size: 2.4rem;
  font-weight: 400;
  padding: 0 14px;
  margin-bottom: 20px;
  padding-top: 48px;
}
.main-container__contacto section {
  padding: 0 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-container__contacto section .contacto__small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  margin-bottom: 24px;
}
.main-container__contacto section .contacto__small picture {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.main-container__contacto section .contacto__small picture img {
  width: 30px;
  height: 30px;
}
.main-container__contacto section .contacto__small p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.main-container__contacto section .contacto__grande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  margin-bottom: 24px;
}
.main-container__contacto section .contacto__grande picture {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.main-container__contacto section .contacto__grande picture img {
  width: 30px;
  height: 30px;
}
.main-container__contacto section .contacto__grande div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-container__contacto section .contacto__grande div h2 {
  -ms-grid-column-align: center;
      justify-self: center;
}
.main-container__contacto section .contacto__grande div p {
  -ms-grid-column-align: center;
      justify-self: center;
  line-height: 24px;
}
.main-container__contacto section .contacto__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
  padding-top: 24px;
}
.main-container__contacto section .contacto__social img {
  width: 36px;
  height: 36px;
}
.main-container__mapa {
  width: 100%;
  height: 350px;
  background-color: black;
}
.main-container__mapa iframe {
  width: 100%;
  height: 100%;
}

/*SOBRE NOSOTROS*/
/*SOBRE NOSOTROS*/
main .nosotros {
  width: 100%;
  height: 512px;
  background-image: url(../img/bg-section.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .nosotros__text-container {
  width: 95%;
}
main .nosotros__text-container h2 {
  font-size: 2.8rem;
  font-weight: 300;
  margin-bottom: 8px;
}
main .nosotros__text-container p {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 22px;
}
main .nosotrosVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}
main .nosotrosVideo .nosotrosVideo__text {
  padding: 64px 32px;
}
main .nosotrosVideo .nosotrosVideo__text h2 {
  font-size: 1.7rem;
  margin-bottom: 20px;
  line-height: 2.4rem;
}
main .nosotrosVideo .nosotrosVideo__text p {
  font-size: 1.4rem;
  line-height: 2.2rem;
}
main .nosotrosMV {
  background-color: #089de8;
  color: white;
  padding: 48px 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .nosotrosMV .nosotrosMV__text {
  width: 90%;
}
main .nosotrosMV .nosotrosMV__text h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}
main .nosotrosMV .nosotrosMV__text p {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
main .nosotrosValores {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 48px 0;
  background-color: white;
}
main .nosotrosValores .nosotrosValores__container {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores--titulo {
  font-size: 3.5rem;
  margin-bottom: 8px;
  margin-bottom: 30px;
  font-weight: 400;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__item {
  height: 400px;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__item picture img {
  width: 260px;
  height: 166px;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__item h2 {
  font-size: 2rem;
  padding-top: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__item p {
  font-size: 1.4rem;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__calidad {
  padding-top: 48px;
  margin-bottom: 16px;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__calidad h2 {
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 30px;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__calidad p {
  font-weight: 400;
}
main .nosotrosExp {
  width: 100%;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .nosotrosExp .nosotrosExp__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 90%;
  padding-top: 48px;
}
main .nosotrosExp .nosotrosExp__container h2 {
  font-size: 3.5rem;
  font-weight: 400;
  color: #001F41;
  margin-bottom: 8px;
}
main .nosotrosExp .nosotrosExp__container p {
  font-size: 1.9rem;
  margin: 0 12px;
  margin-bottom: 28px;
}
main .nosotrosExp .nosotrosExp__container .nosotrosExp__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 48px;
}
main .nosotrosExp .nosotrosExp__container .nosotrosExp__list ul {
  list-style: none;
}
main .nosotrosExp .nosotrosExp__container .nosotrosExp__list ul li {
  width: 150px;
  height: 40px;
  font-size: 1.4rem;
  margin-bottom: 4px;
}

.RMtitular {
  width: 100%;
  height: 314px;
  background-image: url(../img/bg-section.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.RMtitular__text-container {
  width: 95%;
}
.RMtitular__text-container h2 {
  font-size: 2.8rem;
  font-weight: 300;
  margin-bottom: 8px;
}
.RMtitular__text-container p {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 22px;
}

.membresia {
  padding: 80px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.membresia__titular {
  font-size: 3.6rem;
  font-weight: 300;
  margin-bottom: 40px;
}
.membresia__item-container .membresia__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  margin: 0 0 48px;
  text-align: center;
}
.membresia__item-container .membresia__item picture img {
  width: 282px;
  height: 152px;
  border: solid 1px #eeeeee;
  margin-bottom: 16px;
}
.membresia__item-container .membresia__item h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.registro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.registro__titular {
  font-size: 3.6rem;
  font-weight: 300;
  margin-bottom: 40px;
}
.registro__item-container .registro__item {
  width: 290px;
  height: 168px;
  padding: 20px;
  border: solid 1px #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 60px;
}
.registro__item-container .registro__item h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.RStitular {
  width: 100%;
  height: 300px;
  background-image: url(../img/bg-section.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.RStitular__text-container {
  width: 95%;
}
.RStitular__text-container h2 {
  font-size: 2.8rem;
  font-weight: 300;
  margin-bottom: 8px;
}
.RStitular__text-container p {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 22px;
}

.RS__container .RS__text-container {
  padding: 48px 20px 24px;
  margin-bottom: 16px;
}
.RS__container .RS__text-container strong {
  font-size: 2rem;
  line-height: 2.8rem;
}
.RS__container .RS__text-container .RS__main-text {
  font-size: 16px;
  margin-top: 16px;
  line-height: 2.4rem;
  margin-bottom: 20px;
}
.RS__container .RS__text-container .RS__externos {
  margin-bottom: 48px;
}
.RS__container .RS__text-container .RS__externos h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 16px;
}
.RS__container .RS__text-container .RS__externos article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  line-height: 2.8rem;
}
.RS__container .RS__text-container .RS__externos article img {
  margin-top: 4px;
}
.RS__container .RS__text-container .RS__externos picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.RS__container .RS__text-container .RS__externos picture img {
  width: 260px;
  height: 260px;
}
.RS__container .RS__internos {
  background-color: #F7F7F7;
  padding: 0 20px 40px;
}
.RS__container .RS__internos h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 16px;
  padding-top: 48px;
}
.RS__container .RS__internos article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  line-height: 2.8rem;
  margin-bottom: 16px;
}
.RS__container .RS__internos article img {
  margin-top: 4px;
}

.footer-container {
  width: 100%;
  height: 197px;
  background-image: url(../img/bg-section.webp);
  background-position: center;
  background-size: cover;
  background-position-x: right;
  background-repeat: no-repeat;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-container__navbar {
  display: none;
}
.footer-container .footer-movil__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-container .footer-movil__container picture img {
  width: 120px;
  height: 66px;
}
.footer-container .footer-movil__container p {
  font-size: 1.3rem;
  font-weight: 300;
}