//Modulo de main.scss

//NAVEGACION


header {
    width: 100%;
    background-color: $colorPrincipal;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-container {
    width: 100%;
    height: 57px;
    display: flex;
    align-items: center;
    background-color: $colorPrincipal;

    //LOGO MLA
    picture {
        width: 85%;
        display: flex;
        justify-content: center;
        
        img {
            width: 150px;
            height: 37px;
            margin-left: 20px;
        }
    }

    //MENU DESPLEGABLE
    &__menu {
        
        img {
            width: 30px;
            height: 30px;
        }
    }

    //ESTO SOLO ES VISIBLE EN PANTALLAS GRANDES, IGNORAR EN ESTA HOJA DE ESTILOS. CUIDADO, NO BORRAR.
    &__navbar {
        display: none;
    }

    .boton {
        display: none;
    }
}


//TABLET
@media (min-width: $breakpoint-tablet) {
    .nav-container {
        height: 80px;
    
        //LOGO MLA
        picture {       
            
            img {
                width: 215px;
                height: 54px;
                margin-left: 120px;
            }
        }
    
        //MENU DESPLEGABLE
        &__menu {
            margin-left: 60px;
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}

//LAPTOP
@media (min-width: $breakpoint-laptop) {
    .nav-container {
        height: 94px;
     
         //LOGO
         picture {
             justify-self: flex-start;
             align-self: flex-start;
             justify-content: flex-start;
             width: 30%;
             
             img {
                 width: 200px;
                 height: 50px;
                 margin-left: 32px;
                 margin-top: 16px;
             }
         }
     
         //Este es el menu de la version movil, no borrar
         &__menu {
             display: none;
         }
     
         //BARRA DE NAVEGACIÓN
         &__navbar {
             display: flex;
             justify-content: flex-end;
             margin: 0;
             width: 55%;
     
             ul {
                 display: flex;
                 list-style: none;
                 gap: 20px;
                 
                 li a {
                     text-decoration: none;
                     font-size: 1.4rem;
                     color: $colorLetra1;
                     padding-bottom: 4px;
                     padding: 6px;
                     transition: all 300ms ease;
                     height: 100%;
                     display: flex;

                 }
     
                 li a:hover {
                     border-bottom: 1px solid #333;
                     transform: scale(1.1);
                 }
             }
         }
     
         //BOTON DE CAMBIO DE IDIOMAS
         .boton{
             display: block;
             width: 120px;
             height: 30px;
             font-size: 1.4rem;
             text-decoration: none;
             border: 1px solid $colorTerciario;
             font-weight: 500;
             color: $colorTerciario;
             margin-left: 16px;
             display: flex;
             justify-content: center;
             align-items: center;
         }
    }
}

//DESKTOP
@media (min-width: $breakpoint-desktop) {
    header{
        display: flex;
        justify-content: center;
    }
    
    .nav-container {
        max-width: 1200px;
        height: 100px;
        
       
        //LOGO MLA
        picture {
            align-self: flex-start;
            justify-content: flex-start;
            width: 30%;
            
            img {
                width: 200px;
                height:50px;
                margin: 0;
                margin-top: 16px;
            }
        } 
    
        //LOGO DE NAVEGACION
        &__navbar {
             width: 70%;
     
             ul {
    
                li a {
                    font-size: 1.6rem;
                }
            }
        }
    
        .boton{
            width: 130px;
            height: 40px;
        }
    }
}