//Modulo de main.scss

//NAVEGACION


header {
    width: 100%;
    background-color: $colorPrincipal;
    transition: all 300ms ease;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: all 300ms ease;
}
.nav-container {
    width: 100%;
    height: 57px;
    @include flexRule(row,null,center);
    background-color: $colorPrincipal;

    //LOGO MLA
    .logo-container {
        width: 80%;
        @include flexRule(null,center,null);
        
        img {
            width: 150px;
            height: 37px;
            margin-left: 20px;
        }
    }

    //MENU DESPLEGABLE
    &__menu {
        
        label{
            
            img {
                width: 30px;
                height: 30px;
            }
        }

        input{
            display: none;
        }

        input:checked +.nav-movil{
            visibility: visible;
            right: 0;
            transition: all 300ms ease;
        }

        .nav-movil{
            @include flexRule(column);
            background-color: white;
            position: fixed;
            top: 57px;
            right: -300px;
            width: 90vw;
            max-width: 300px;
            height: 93.5%;
            overflow: auto;
            visibility: hidden;
            transition: all 300ms ease;
            z-index: 10;
            
            .nav-movil__cerrar{
                padding: 15px;
                
                img{
                    width: 36px;
                }
            }

            ul{
                list-style: none;
                width: 100%;
                
                li{
                    margin-bottom: 1px;
                    width: 100%;
    
                    a{
                        text-decoration: none;
                        color: white;
                        font-weight: bold;
                        background-color:#043877;
                        display: block;
                        padding: 20px;
                    }

                    ul{
                        padding: 0;
                        padding: 0 20px;
                        margin-bottom: 20px;
                        margin-top: 10px;
                        
                        li{
                            margin-bottom: 24px;
                            background-color: #fff;
                            
                            a{
                                font-weight: 400;
                                color: black;
                                background-color: #fff;
                                padding: 0;
                            }
                        }
                    }
                }
            }
            a.boton{
                @include flexRule(null,center,center);
                width: 120px;
                height: 60px;
                font-size: 1.4rem;
                text-decoration: none;
                border: 1px solid $colorTerciario;
                font-weight: 500;
                color: $colorTerciario;
                margin-left: 8px;
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 8px;
            }
            
        }
    }

    //ESTO SOLO ES VISIBLE EN PANTALLAS GRANDES, IGNORAR EN ESTA HOJA DE ESTILOS. CUIDADO, NO BORRAR.
    &__navbar {
        display: none;
    }

    .boton {
        display: none;
    }
}


//TABLET
@media (min-width: $breakpoint-tablet) {
    .nav-container {
        width: 100%;
        height: 80px;
    
        //LOGO MLA
        .logo-container {       
            width: 80%;
            img {
                width: 215px;
                height: 54px;
                margin-left: 150px;
            }
        }
    
        //MENU DESPLEGABLE
        &__menu {
            margin-left: 60px;
            img {
                width: 30px;
                height: 30px;
            }
            .nav-movil{
                top: 80px;
                right: -700px;
                max-width: 450px;
            }
        }
    }
}

//LAPTOP
@media (min-width: $breakpoint-laptop) {
    .nav-container {
        height: 94px;
     
        //LOGO
        .logo-container {
            display: block;
            justify-self: flex-start;
            align-self: flex-start;
            justify-content: flex-start;
            width: 30%;
            
            img {
                width: 290px;
                height: 72px;
                margin-left: 32px;
                margin-top: 10px;
            }
        }
     
        //Este es el menu de la version movil, no borrar
        &__menu {
            display: none;
        }
     
        //BARRA DE NAVEGACIÓN
        &__navbar {
            display: flex;
            justify-content: flex-end;
            margin: 0;
            width: 55%;
    
            ul {
                display: flex;
                list-style: none;
                gap: 20px;
                height: 100%;
                
                li {
                height: 100%;
                position: relative;
                transition: all 300ms ease;
                    
                    a {
                        text-decoration: none;
                        font-size: 1.4rem;
                        color: $colorLetra1;
                        padding-bottom: 4px;
                        padding: 6px;
                        transition: all 300ms ease;
                        height: 100%;
                        display: flex;
                    }

                    /*MENU DESPLEGABLE*/
                    /*NOSOTROS*/
                    .toggle__nosotros{
                        width: 300px;
                        height: 200px;
                        @include flexRule(column);
                        gap: 0;
                        background: #fff;
                        border-radius: 8px;
                        box-shadow: 4px 8px 8px 4px rgba(0,0,0,0.5);
                        position: absolute;
                        visibility: hidden;
                        opacity: 0;
                        top: 50px;
                        z-index: 10;
                        transition: all 300ms ease;
                        
                        li{
                            margin: 0;
                            height: 100%;
                            padding: 0 15px;
                            
                            &:hover{
                                background-color: #043877;
                                transform: scale(1.1);
                            }
                            
                            a{
                                border: none !important;
                                transition: none;
                                height: 100%;
                                @include flexRule(null,null,center);
                                
                                &:hover{
                                    transform: none;
                                    color: white;
                                }
                            
                            }
                        }   
                    }

                    /*SERVICIOS*/
                    .toggle__servicios{
                        width: 300px;
                        height: 300px;
                        @include flexRule(column);
                        gap: 0;
                        background: #fff;
                        border-radius: 8px;
                        box-shadow: 4px 8px 8px 4px rgba(0,0,0,0.5);
                        position: absolute;
                        visibility: hidden;
                        opacity: 0;
                        top: 50px;
                        z-index: 10;
                        transition: all 300ms ease;
                    
                        li{
                            margin: 0;
                            height: 100%;
                            padding: 0 15px;
                            
                            a{
                                border: none !important;
                                transition: none;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                
                                &:hover{
                                    transform: none;
                                    color: white;
                                }
                            }
                            
                            &:hover{
                                background-color: #043877;
                                transform: scale(1.1);
                            }
                        }
                    }

                    /*NOVEDADES*/
                    .toggle__novedades{
                        width: 300px;
                        height: 100px;
                        @include flexRule(column);
                        gap: 0;
                        background: #fff;
                        border-radius: 8px;
                        box-shadow: 4px 8px 8px 4px rgba(0,0,0,0.5);
                        position: absolute;
                        visibility: hidden;
                        opacity: 0;
                        top: 50px;
                        z-index: 10;
                        transition: all 300ms ease;
                        
                        li{
                            margin: 0;
                            height: 100%;
                            padding: 0 15px;
                            
                            a{
                                border: none !important;
                                transition: none;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                
                                &:hover{
                                    transform: none;
                                    color: white;
                                }
                            }

                            &:hover{
                                background-color: #043877;
                                transform: scale(1.1);
                            }
                        }
                    }
                    
                    &:hover{                       
                        ul{
                            visibility: visible;
                            opacity: 1;
                            top: 40px;
                        }
                    }
                }    
            }
     
                li a:hover {
                    border-bottom: 1px solid #333;
                    transform: scale(1.1);
                }
            
        }
     
         //BOTON DE CAMBIO DE IDIOMAS
        .boton{
            width: 120px;
            height: 30px;
            font-size: 1.4rem;
            text-decoration: none;
            border: 1px solid $colorTerciario;
            font-weight: 500;
            color: $colorTerciario;
            margin-left: 16px;
            @include flexRule(null,center,center)
        }
    }
}

//DESKTOP
@media (min-width: $breakpoint-desktop) {
    header{
        @include flexRule(null,center,null);
    }
    
    .nav-container {
        max-width: 1200px;
        height: 95px;
        
       
        //LOGO MLA
        .logo-container {
            align-self: flex-start;
            justify-content: flex-start;
            width: 30%;
            
            img {
                width: 100%;
                max-width: 290px;
                height:72px;
                margin: 0;
                margin-top: 10px;
            }
        } 
    
        //LOGO DE NAVEGACION
        &__navbar {
            width: 70%;
     
            ul {
    
                li a {
                    font-size: 1.6rem;
                }
            }
        }
    
        .boton{
            width: 130px;
            height: 40px;
        }
    }
}