@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

/*PÁGINA DE INICIO*/
.nav-container {
  height: 80px;
}
.nav-container picture img {
  width: 215px;
  height: 54px;
  margin-left: 120px;
}
.nav-container__menu {
  margin-left: 60px;
}
.nav-container__menu img {
  width: 30px;
  height: 30px;
}

.main-container__respaldo {
  height: 1000px;
  padding: 0 64px;
  padding-top: 64px;
}
.main-container__capital-humano .capital-humano__container p {
  margin-bottom: 48px;
}
.main-container__capital-humano .capital-humano__container .capital-humano__socios {
  max-width: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-container__capital-humano .capital-humano__container .capital-humano__socios .capital-humano__item {
  margin-bottom: 0;
}
.main-container__capital-humano .capital-humano__container a {
  width: 200px;
  height: 50px;
  font-size: 1.6rem;
  margin-top: 48px;
}
.main-container__contacto h2 {
  padding: 0 48px;
  margin-bottom: 28px;
  padding-top: 48px;
}
.main-container__contacto section {
  padding: 0 48px;
}
.main-container__contacto section .contacto__social {
  gap: 64px;
}

.footer-container .footer-movil__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 60px;
}
.footer-container .footer-movil__container picture img {
  width: 150px;
  height: 90px;
  margin-top: 8px;
}
.footer-container .footer-movil__container p {
  font-size: 1.6rem;
}

/*SOBRE NOSOTROS*/
main .nosotros {
  background-attachment: fixed;
}
main .nosotros__text-container {
  width: 85%;
}
main .nosotros__text-container p {
  font-size: 1.8rem;
  line-height: 2.8rem;
}
main .nosotrosVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}
main .nosotrosVideo .nosotrosVideo__text {
  padding: 64px 40px;
}
main .nosotrosVideo .nosotrosVideo__text h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}
main .nosotrosVideo .nosotrosVideo__text p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
main .nosotrosMV .nosotrosMV__text {
  width: 90%;
}
main .nosotrosMV .nosotrosMV__text h2 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}
main .nosotrosMV .nosotrosMV__text p {
  font-size: 1.6rem;
  margin-bottom: 40px;
  line-height: 2.4rem;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
  margin-bottom: 50px;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__item-container .nosotrosValores__item {
  width: 200px;
  height: 350px;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__item-container .nosotrosValores__item picture img {
  width: 200px;
  height: 128px;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__item-container .nosotrosValores__item picture .organizador {
  margin-bottom: 16px;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__calidad {
  width: 90%;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__calidad h2 {
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 30px;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__calidad p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
main .nosotrosExp {
  width: 100%;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .nosotrosExp .nosotrosExp__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 90%;
  padding-top: 48px;
}
main .nosotrosExp .nosotrosExp__container h2 {
  font-size: 3.5rem;
  font-weight: 400;
  color: #001F41;
  margin-bottom: 8px;
}
main .nosotrosExp .nosotrosExp__container p {
  font-size: 1.9rem;
  margin: 0 12px;
  margin-bottom: 28px;
}
main .nosotrosExp .nosotrosExp__container .nosotrosExp__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 48px;
}
main .nosotrosExp .nosotrosExp__container .nosotrosExp__list ul {
  list-style: none;
}
main .nosotrosExp .nosotrosExp__container .nosotrosExp__list ul li {
  width: 150px;
  height: 40px;
  font-size: 1.4rem;
  margin-bottom: 4px;
}

.RMtitular {
  height: 400px;
}
.RMtitular__text-container {
  width: 85%;
}
.RMtitular__text-container h2 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 8px;
}
.RMtitular__text-container p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 28px;
}

.membresia__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.membresia__item-container .membresia__item {
  width: 340px;
}
.registro__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.registro__item-container .registro__item {
  width: 290px;
  height: 168px;
  padding: 20px;
  border: solid 1px #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 48px;
}
.registro__item-container .registro__item h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.RStitular__text-container {
  padding: 0 16px;
}
.RStitular__text-container h2 {
  font-size: 3rem;
  margin-bottom: 8px;
}
.RStitular__text-container p {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.RS__container .RS__text-container {
  padding: 48px 32px 24px;
}
.RS__container .RS__text-container .RS__main-text {
  font-size: 16px;
  margin-top: 16px;
  line-height: 2.4rem;
  margin-bottom: 20px;
}
.RS__container .RS__text-container .RS__externos {
  margin-bottom: 48px;
}
.RS__container .RS__text-container .RS__externos picture {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  margin-top: 24px;
}
.RS__container .RS__text-container .RS__externos picture img {
  width: 216px;
  height: 216px;
}
.RS__container .RS__internos {
  background-color: #F7F7F7;
  padding: 0 32px 40px;
}
.RS__container .RS__internos h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 16px;
  padding-top: 48px;
}
.RS__container .RS__internos .RS__internos--item article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  line-height: 2.8rem;
  margin-bottom: 16px;
}
.RS__container .RS__internos .RS__internos--item article img {
  margin-top: 4px;
}