@import "./globales.scss";

//|---------------------------------------------------------|//
                    /*PÁGINA DE INICIO*/
//|---------------------------------------------------------|//
//BARRA DE NAVEGACION
.nav-container {
    height: 80px;

    //LOGO MLA
    picture {       
        
        img {
            width: 215px;
            height: 54px;
            margin-left: 120px;
        }
    }

    //MENU DESPLEGABLE
    &__menu {
        margin-left: 60px;
        img {
            width: 30px;
            height: 30px;
        }
    }
}

//CONTENEDOR PRINCIPAL
.main-container {
    
    //RESPALDO
    &__respaldo {
        height: 1000px;
        padding: 0 64px;
        padding-top: 64px;
    }

    //CAPITAL HUMANO
    &__capital-humano {

        .capital-humano__container {
    
            p {
                margin-bottom: 48px;
            }

            //Separacion de los contenedores y distribucion wrap añadida
            .capital-humano__socios{
                max-width: 690px;
                display: flex;
                flex-wrap: wrap;
                gap: 60px;
                justify-content: center;

                .capital-humano__item {
                    margin-bottom: 0;                
                }
            }
            
            //Boton de la sección agrandado para mejor visibilidad en tablet
            a {
                width: 200px;
                height: 50px;
                font-size: 1.6rem;
                margin-top: 48px;
            }
        }
    }
    
    //SECION DE CONTACTO
    &__contacto {
        
        //Espaciado ajustado
        h2 {
            padding: 0 48px;
            margin-bottom: 28px;
            padding-top: 48px;
        }

        section{
            padding: 0 48px;
    
            .contacto__social{
                gap: 64px;
            }
        }
    }
}

//FOOTER
.footer-container {

    //Logo y letras del footer alineados en horizontal.
    .footer-movil__container{
        flex-direction: row;
        gap: 60px;
       
        //tamaño de la imagén y el texto aumentados.
        picture img {
            width: 150px;
            height: 90px;
            margin-top: 8px;
        }
        
        p {
            font-size: 1.6rem;
        }
    }
}

//----------------------------------------------------------//
                    /*SOBRE NOSOTROS*/
//---------------------------------------------------------//
main {
    .nosotros{
        background-attachment:fixed;
        &__text-container{
            width: 85%;

            p{
                font-size: 1.8rem;
                line-height: 2.8rem;
            }
        }
    }

    .nosotrosVideo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 48px;

        .nosotrosVideo__text {
            padding: 64px 40px;
            
            h2 {
                font-size: 2.4rem;
                line-height: 3.2rem;
            }

            p{
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
        }
    }

    .nosotrosMV {

        .nosotrosMV__text{
            width: 90%;
            
            h2 {
                font-size: 3.5rem;
                margin-bottom: 20px;
            }
            
            p {
                font-size: 1.6rem;
                margin-bottom: 40px;
                line-height: 2.4rem;
            }
        }
    }

    .nosotrosValores {

        .nosotrosValores__container{

            .nosotrosValores__item-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 32px;
                margin-bottom: 50px;
                
                .nosotrosValores__item{
                    width: 200px;
                    height: 350px;
                    
                    picture{
                        
                        img{
                            width: 200px;
                            height: 128px; 
                        }

                        .organizador{
                            margin-bottom: 16px;
                        }
                    }
                }
            }

            .nosotrosValores__calidad{
                width: 90%;
                h2{
                    font-size: 2.8rem;
                    font-weight: 400;
                    margin-bottom: 30px;
                }

                p{
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                }
            }
        }
    }



            //CONOCIMIENTO DE GRID NECESARIO
//---------------------------------------------------------//
    .nosotrosExp{
        width: 100%;
        background-color: $colorPrincipal;
        display: flex;
        justify-content: center;

        .nosotrosExp__container{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 90%;
            padding-top: 48px;

            h2{
                font-size: 3.5rem;
                font-weight: 400;
                color: #001F41;
                margin-bottom: 8px;
            }

            p{
                font-size: 1.9rem;
                margin: 0 12px;
                margin-bottom: 28px;
            }

            .nosotrosExp__list{
                display: flex;
                gap: 10px;
                margin-bottom: 48px;
                ul {
                    list-style: none;

                    li{
                        width: 150px;
                        height: 40px;
                        font-size: 1.4rem;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}

//-----------------------------------------------------------------//
//REGISTROS Y MEMBRESIAS
//-----------------------------------------------------------------//

.RMtitular{
    height: 400px;
    &__text-container{
        width: 85%;

        h2{
            font-size: 3rem;
            font-weight: 300;
            margin-bottom: 8px;
        }
        p{
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 28px;
        }
    }
}

.membresia{
  
    &__titular {
    }

    &__item-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .membresia__item{
            width: 340px;
    
            picture{
                img {
                }
            }
    
            h2{
            }
        }
    }
}

.registro {
    &__titular {
    }

    &__item-container{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        .registro__item {
            width: 290px;
            height: 168px;
            padding: 20px;
            border: solid 1px #eeeeee;
            display: flex;
            align-items: center;
            text-align: center;
            margin-bottom: 48px;
    
            h2{
                font-size: 1.5rem;
                font-weight: 400;
            }
        }
    }
}

//-------------------------------------------------------------//
                    //RESPONSABILIDAD SOCIAL
//-------------------------------------------------------------//
.RStitular{
    
    &__text-container{
        padding: 0 16px;

        h2{
            font-size: 3rem;
            margin-bottom: 8px;
        }
        p{
            font-size: 1.8rem;
            line-height: 2.4rem;
        }
    }
}
.RS__container{
    

    .RS__text-container{
        padding: 48px 32px 24px;
    
        .RS__main-text{
            font-size: 16px;
            margin-top: 16px;
            line-height: 2.4rem;
            margin-bottom: 20px;
        }

        .RS__externos {
            margin-bottom: 48px;

            picture {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 24px;
                margin-top: 24px;
                img {
                    width: 216px;
                    height: 216px;
                }
            }
        }
    }
    .RS__internos {
        background-color: $colorPrincipal;
        padding: 0 32px 40px;
        

        h2{
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 16px;
            padding-top: 48px;
            
        }

        .RS__internos--item{
            
            article {
              
                display: flex;
                align-items: flex-start;
                gap: 16px;
                line-height: 2.8rem;
                margin-bottom: 16px;
    
                img {
                    margin-top: 4px;
                }
            }
        }
    }
}