@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

/*PÁGINA DE INICIO*/
.nav-container {
  height: 80px;
}
.nav-container picture img {
  width: 215px;
  height: 54px;
  margin-left: 120px;
}
.nav-container__menu {
  margin-left: 60px;
}
.nav-container__menu img {
  width: 30px;
  height: 30px;
}

.main-container__respaldo {
  height: 1000px;
  padding: 0 64px;
  padding-top: 64px;
}
.main-container__capital-humano .capital-humano__container p {
  margin-bottom: 48px;
}
.main-container__capital-humano .capital-humano__container .capital-humano__socios {
  max-width: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-container__capital-humano .capital-humano__container .capital-humano__socios .capital-humano__item {
  margin-bottom: 0;
}
.main-container__capital-humano .capital-humano__container a {
  width: 200px;
  height: 50px;
  font-size: 1.6rem;
  margin-top: 48px;
}
.main-container__contacto h2 {
  padding: 0 48px;
  margin-bottom: 28px;
  padding-top: 48px;
}
.main-container__contacto section {
  padding: 0 48px;
}
.main-container__contacto section .contacto__social {
  gap: 64px;
}

.footer-container .footer-movil__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 60px;
}
.footer-container .footer-movil__container picture img {
  width: 150px;
  height: 90px;
  margin-top: 8px;
}
.footer-container .footer-movil__container p {
  font-size: 1.6rem;
}

/*SOBRE NOSOTROS*/
main .nosotros__text-container {
  width: 85%;
}
main .nosotros__text-container p {
  font-size: 1.8rem;
  line-height: 2.8rem;
}
main .nosotrosVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}
main .nosotrosVideo .nosotrosVideo__text {
  padding: 64px 40px;
}
main .nosotrosVideo .nosotrosVideo__text h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}
main .nosotrosVideo .nosotrosVideo__text p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
main .nosotrosMV {
  background-color: #089de8;
  color: white;
  padding: 48px 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .nosotrosMV .nosotrosMV__text {
  width: 90%;
}
main .nosotrosMV .nosotrosMV__text h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}
main .nosotrosMV .nosotrosMV__text p {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
main .nosotrosValores {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 48px 0;
  background-color: white;
}
main .nosotrosValores .nosotrosValores__container {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores--titulo {
  font-size: 3.5rem;
  margin-bottom: 8px;
  margin-bottom: 30px;
  font-weight: 400;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__item {
  height: 400px;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__item picture img {
  width: 260px;
  height: 166px;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__item h2 {
  font-size: 2rem;
  padding-top: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__item p {
  font-size: 1.4rem;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__calidad {
  padding-top: 48px;
  margin-bottom: 16px;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__calidad h2 {
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 30px;
}
main .nosotrosValores .nosotrosValores__container .nosotrosValores__calidad p {
  font-weight: 400;
}
main .nosotrosExp {
  width: 100%;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .nosotrosExp .nosotrosExp__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 90%;
  padding-top: 48px;
}
main .nosotrosExp .nosotrosExp__container h2 {
  font-size: 3.5rem;
  font-weight: 400;
  color: #001F41;
  margin-bottom: 8px;
}
main .nosotrosExp .nosotrosExp__container p {
  font-size: 1.9rem;
  margin: 0 12px;
  margin-bottom: 28px;
}
main .nosotrosExp .nosotrosExp__container .nosotrosExp__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 48px;
}
main .nosotrosExp .nosotrosExp__container .nosotrosExp__list ul {
  list-style: none;
}
main .nosotrosExp .nosotrosExp__container .nosotrosExp__list ul li {
  width: 150px;
  height: 40px;
  font-size: 1.4rem;
  margin-bottom: 4px;
}