@import "./globales.scss";

/*PÁGINA DE INICIO*/
//BARRA DE NAVEGACION
.nav-container {
    height: 80px;

    //LOGO MLA
    picture {       
        
        img {
            width: 215px;
            height: 54px;
            margin-left: 120px;
        }
    }

    //MENU DESPLEGABLE
    &__menu {
        margin-left: 60px;
        img {
            width: 30px;
            height: 30px;
        }
    }
}

//CONTENEDOR PRINCIPAL
.main-container {
    
    //RESPALDO
    &__respaldo {
        height: 1000px;
        padding: 0 64px;
        padding-top: 64px;
    }

    //CAPITAL HUMANO
    &__capital-humano {

        .capital-humano__container {
    
            p {
                margin-bottom: 48px;
            }

            //Separacion de los contenedores y distribucion wrap añadida
            .capital-humano__socios{
                max-width: 690px;
                display: flex;
                flex-wrap: wrap;
                gap: 60px;
                justify-content: center;

                .capital-humano__item {
                    margin-bottom: 0;                
                }
            }
            
            //Boton de la sección agrandado para mejor visibilidad en tablet
            a {
                width: 200px;
                height: 50px;
                font-size: 1.6rem;
                margin-top: 48px;
            }
        }
    }
    
    //SECION DE CONTACTO
    &__contacto {
        
        //Espaciado ajustado
        h2 {
            padding: 0 48px;
            margin-bottom: 28px;
            padding-top: 48px;
        }

        section{
            padding: 0 48px;
    
            .contacto__social{
                gap: 64px;
            }
        }
    }
}

//FOOTER
.footer-container {

    //Logo y letras del footer alineados en horizontal.
    .footer-movil__container{
        flex-direction: row;
        gap: 60px;
       
        //tamaño de la imagén y el texto aumentados.
        picture img {
            width: 150px;
            height: 90px;
            margin-top: 8px;
        }
        
        p {
            font-size: 1.6rem;
        }
    }
}

/*SOBRE NOSOTROS*/
main {
    .nosotros{

        &__text-container{
            width: 85%;

            p{
                font-size: 1.8rem;
                line-height: 2.8rem;
            }
        }
    }

    .nosotrosVideo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 48px;

        .nosotrosVideo__text {
            padding: 64px 40px;
            
            h2 {
                font-size: 2.4rem;
                line-height: 3.2rem;
            }

            p{
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
        }
    }

    .nosotrosMV {
        background-color: #089de8;
        color: $colorLetra2;
        padding: 48px 0 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .nosotrosMV__text{
            width: 90%;
            
            h2 {
                font-size: 2.8rem;
                margin-bottom: 20px;
            }
            
            p {
                font-size: 1.4rem;
                margin-bottom: 20px;
            }
        }
    }

    .nosotrosValores {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 48px 0;
        background-color: white;

        .nosotrosValores__container{
            padding: 0 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            
            
            .nosotrosValores--titulo{
                font-size: 3.5rem;
                margin-bottom: 8px;
                margin-bottom: 30px;
                font-weight: 400;
            }

            .nosotrosValores__item{
                height: 400px;
                picture{
                    img{
                        width: 260px;
                        height: 166px;
                    }
                }
                
                h2 {
                    font-size: 2rem;
                    padding-top: 20px;
                    margin-bottom: 10px;
                    font-weight: 400;
                }

                p{
                    font-size: 1.4rem;
                }
            }

            .nosotrosValores__calidad{
                padding-top: 48px;
                margin-bottom: 16px;
                
                h2{
                    font-size: 2.8rem;
                    font-weight: 400;
                    margin-bottom: 30px;
                }

                p{
                    font-weight: 400;
                }
            }
        }
    }
    .nosotrosExp{
        width: 100%;
        background-color: $colorPrincipal;
        display: flex;
        justify-content: center;

        .nosotrosExp__container{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 90%;
            padding-top: 48px;

            h2{
                font-size: 3.5rem;
                font-weight: 400;
                color: #001F41;
                margin-bottom: 8px;
            }

            p{
                font-size: 1.9rem;
                margin: 0 12px;
                margin-bottom: 28px;
            }

            .nosotrosExp__list{
                display: flex;
                gap: 10px;
                margin-bottom: 48px;
                ul {
                    list-style: none;

                    li{
                        width: 150px;
                        height: 40px;
                        font-size: 1.4rem;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}