@import "./globales.scss";

//BARRA DE NAVEGACION
.nav-container {
    height: 80px;

    //LOGO MLA
    picture {       
        
        img {
            width: 215px;
            height: 54px;
            margin-left: 120px;
        }
    }

    //MENU DESPLEGABLE
    &__menu {
        margin-left: 60px;
        img {
            width: 30px;
            height: 30px;
        }
    }
}

//CONTENEDOR PRINCIPAL
.main-container {
    
    //RESPALDO
    &__respaldo {
        height: 1000px;
        padding: 0 64px;
        padding-top: 64px;
    }

    //CAPITAL HUMANO
    &__capital-humano {

        .capital-humano__container {
    
            p {
                margin-bottom: 48px;
            }

            //Separacion de los contenedores y distribucion wrap añadida
            .capital-humano__socios{
                max-width: 690px;
                display: flex;
                flex-wrap: wrap;
                gap: 60px;
                justify-content: center;

                .capital-humano__item {
                    margin-bottom: 0;                
                }
            }
            
            //Boton de la sección agrandado para mejor visibilidad en tablet
            a {
                width: 200px;
                height: 50px;
                font-size: 1.6rem;
                margin-top: 48px;
            }
        }
    }
    
    //SECION DE CONTACTO
    &__contacto {
        
        //Espaciado ajustado
        h2 {
            padding: 0 48px;
            margin-bottom: 28px;
            padding-top: 48px;
        }

        section{
            padding: 0 48px;
    
            .contacto__social{
                gap: 64px;
            }
        }
    }
}

//FOOTER
.footer-container {

    //Logo y letras del footer alineados en horizontal.
    .footer-movil__container{
        flex-direction: row;
        gap: 60px;
       
        //tamaño de la imagén y el texto aumentados.
        picture img {
            width: 150px;
            height: 90px;
            margin-top: 8px;
        }
        
        p {
            font-size: 1.6rem;
        }
    }
}