* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  color: #212529;
}

.nav-container {
  height: 80px;
}
.nav-container picture img {
  width: 250px;
  height: 54px;
  margin-left: 30px;
}
.nav-container__menu {
  margin-left: 60px;
}
.nav-container__menu img {
  width: 30px;
  height: 30px;
}

.main-container__respaldo {
  height: 1000px;
  padding: 0 64px;
  padding-top: 64px;
}
.main-container__capital-humano .capital-humano__container p {
  margin-bottom: 48px;
}
.main-container__capital-humano .capital-humano__container .capital-humano__socios {
  max-width: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-container__capital-humano .capital-humano__container .capital-humano__socios .capital-humano__item {
  margin-bottom: 0;
}
.main-container__capital-humano .capital-humano__container a {
  width: 200px;
  height: 50px;
  font-size: 1.6rem;
  margin-top: 48px;
}
.main-container__contacto h2 {
  padding: 0 48px;
  margin-bottom: 28px;
  padding-top: 48px;
}
.main-container__contacto section {
  padding: 0 48px;
}
.main-container__contacto section .contacto__social {
  gap: 64px;
}

.footer-container .footer-movil__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 60px;
}
.footer-container .footer-movil__container picture img {
  width: 150px;
  height: 90px;
  margin-top: 8px;
}
.footer-container .footer-movil__container p {
  font-size: 1.6rem;
}