extend ../../componentes/_plantilla.pug
block logo
    link(rel="shortcut icon", href="../../img/favicon.ico")
block stylesheet
    link(rel="stylesheet", href="../../css/main.css")
block img
    img(src="../../img/logo2.webp" alt="Logo Mejía Lora y Asociados")
block menu
    a(href=""): img(src="../../img/menu.svg", alt="menu hamburguesa")
block logoFooter
    picture: img(src="../../img/40Aniv.webp" alt="Logo del 40 aniversario")
block contenido

        main
            section.encabezado
                section.contacto__encabezado
                    div
                        h2 Contacto
                    
                section
                    section  
                        article
                            p Déjenos su solicitud y le responderemos lo más pronto posible
                            form
                                label(for="nombres")
                                    input(type="text" placeholder="Nombres")
                                label(for="apellidos")
                                    input(type="text" placeholder="Apellidos")
                            form
                                label(for="correo")
                                    input(type="email" placeholder="E-mail")
                                label(for="telefono")
                                    input(type="number" placeholder="Teléfono") 
                            form
                                label(for="comentario")
                                    input(type="text")
                            
                            button Enviar Solicitud
                        article
                            h2 Información de Contacto
                            article
                                img(src="", alt="")
                                p info@mejialora.com
                            article
                                img(src="", alt="")
                                p Oficina Corporativa:
                                p Avenida Sarasota #136, Santo Domingo, República Dominicana
                            article
                                img(src="", alt="")
                                p Oficina Corporativa:
                                p Avenida Santa Ana #16, Santo Domingo, República Dominicana
                            article
                                img(src="", alt="")
                                p International Mailing Address:
                                p 8540 NW 66 st AP-54099 Miami, FL 33195-2698
                            article
                                img(src="", alt="")
                                p (809) 482-0838
                            
                            div 
                                a(href="#")
                                    img(src="", alt="")
                                a(href="#") 
                                    img(src="", alt="")
                                a(href="#") 
                                    img(src="", alt="")
                                a(href="#") 
                                    img(src="", alt="")
                    section
                    
                        