extend ../../componentes/_subplantilla.pug
block logo
    link(rel="shortcut icon", href="../../img/favicon.ico")
block stylesheet
    link(rel="stylesheet", href="../../css/main.css")
block img
    img(src="../../img/logo2.webp" alt="Logo Mejía Lora y Asociados")
block logoFooter
    picture: img(src="../../img/mla-white.png" alt="Logo MLA")
block contenido

        main
            section.encabezado
                section.contacto__encabezado
                    div
                        h2 Contacto
                    
                section
                    
                    section.main__formulario
                        article.contacto__formulario
                            p Déjenos su solicitud y le responderemos lo más pronto posible
                            div.formulario__formulario
                                form.formulario__formulario--1
                                    label(for="nombres")
                                        input(type="text" placeholder="Nombres")
                                    label(for="apellidos")
                                        input(type="text" placeholder="Apellidos")
                                form
                                    label(for="correo")
                                        input(type="email" placeholder="E-mail")
                                    label(for="telefono")
                                        input(type="number" placeholder="Teléfono") 
                                form.formulario__comentario
                                    label(for="comentario")
                                        input(type="text")
            
                            button Enviar Solicitud

                            a(href="#").formulario__link Descargar formulario de servicios 
                        
                        article.contacto__informacion
                            h2 Información de Contacto
                            article
                                img(src="../../img/icon-mail.svg", alt="icono de correo")
                                p info@mejialora.com
                            article.contacto__informacion--excepcion
                                img(src="../../img/icon-location.svg", alt="icono de localización")
                                div
                                    p Oficina Corporativa:
                                    p Avenida Sarasota #136, Santo Domingo, República Dominicana
                            article.contacto__informacion--excepcion
                                img(src="../../img/icon-location.svg", alt="icono de localización")
                                div
                                    p Oficina Corporativa:
                                    p Avenida Santa Ana #16, Santo Domingo, República Dominicana
                            article.contacto__informacion--excepcion
                                img(src="../../img/icon-location.svg", alt="Icono de localizacion")
                                div
                                    p International Mailing Address:
                                    p 8540 NW 66 st AP-54099 Miami, FL 33195-2698
                            article
                                img(src="../../img/icon-phone.svg", alt="Icono de telefono")
                                p (809) 482-0838
                            
                            div.contacto__redes
                                a(href="#")
                                    img(src="../../img/104498_facebook_icon.svg", alt="logo de facebook")
                                a(href="#") 
                                    img(src="../../img/1161953_instagram_icon.svg", alt="logo de instagram")
                                a(href="#") 
                                    img(src="../../img/104501_twitter_bird_icon.svg", alt="logo de twitter")
                                a(href="#") 
                                    img(src="../../img/367593_linkedin_business_network_social_icon.svg", alt="logo de linkedin")
                    section.contacto__mapa
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d473.09774136335295!2d-69.9549795556712!3d18.44820775376078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea5621e1e54cfff%3A0x70cbf5dd68314e49!2sMLA-%20Mejia%20Lora%20%26%20Asociados%20-%20Auditores!5e0!3m2!1ses-419!2sdo!4v1683561275739!5m2!1ses-419!2sdo" title="ubicacion" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">Ubicacion</iframe>
                    
                        