extend ../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/21octubre.webp", alt="Background de la noticia")
                    h2 ¡Destacamos nuestro compromiso! Miembro del Foro de Firmas Interamericanas
            
            section.publicacion__content
                p 21 de octubre de 2024
                
                div
                    p 
                        | Mejía Lora y Asociados mantiene su compromiso como miembro activo del FORO DE FIRMAS INTERAMERICANAS, reflejo de la excelencia y el cumplimiento de los estándares establecidos.
                
                    picture
                        img(src="/img/avisos/21octubre.webp", alt="Background de la noticia")
              
                  


            section.publicacion__otras
                h2 Otras Noticias

                +noticiaPrincipal