extend ../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/25octubre.webp", alt="Background de la noticia")
                    h2 Aniversario de Excel Puesto de Bolsa
            
            section.publicacion__content
                p 25 de octubre de 2024
                
                div
                    p 
                        | Celebrando el aniversario de Excel Puesto de Bolsa, realizado en el nuevo Hotel Kimpton Las Mercedes. En Mejía Lora y Asociados, nos llena de orgullo ser parte de este momento.
                
                    picture
                        img(src="/img/avisos/25octubre.webp", alt="Background de la noticia")
              
                  


            section.publicacion__otras
                h2 Otras Noticias

                +noticiaPrincipal