footer.footer-container
    .footer-movil__container
        .footer-movil__logo
            picture
                block footerLogo
                    
            p.derechosAutor Mejia Lora & Asociados © 2023
            .redes1
                block footerSocialIcons
          
        .contacto
            h3 Contáctenos

            p Dirección: 
                span Avenida Sarasota # 136, Santo Domingo, República Dominicana.
            p Dirección: 
                span Calle Santa Ana #16, Santo Domingo, República Dominicana.
            p International Mailing Address: 
                span 8540 NW 66 st AP-54099 Miami, FL 33195-2698.
            p Teléfono: 
                span (809) 482-0838
            p Email: 
                span info@mejialora.com
        .redes
            block footerMovilIcons

        

script(type='text/javascript').
  var Tawk_API=Tawk_API||{};
  var Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5bcdc8e9460a125f2657111c/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();

block javaScript
