header#mi-barra
    nav.nav-container
        a.logo-container(href="/english/index.html")
            img(src="/img/assets/logo2.webp" alt="Logo Mejía Lora y Asociados")

        div.nav-container__menu
            label(for="menu").nav-label
                img(src="/icon/menu.svg", alt="menu hamburguesa")                
            input(type="checkbox" id="menu").nav-input
            
            div.nav-movil
                
                label(for="menu").nav-label
                    img(src="/icon/close.svg", alt="Cerrar menu hamburguesa")                
                input(type="checkbox" id="menu").nav-input
               
                ul                                         
                    li
                        a(href="/english/index.html") Home
                
                    li
                        a(href="/english/html/nosotros/quienesSomos.html").noDisplay About Us
                        p.Display#nosotros About Us
                        ul.toggle__nosotros.mobile-hidden
                            li
                                a(href="/english/html/nosotros/quienesSomos.html") Who we are
                            li
                                a(href="/english/html/nosotros/registros.html") Registries and Memberships
                            li
                                a(href="/english/html/nosotros/responsabilidadSoc.html") Social Responsability 
                            li 
                                a(href="/english/html/nosotros/certificaciones.html") Certifications

                    //SERVICIOS
                    li
                        a(href="/english/html/servicios/auditoria.html").noDisplay Services
                        p.Display#servicios Services
                        ul.toggle__servicios.mobile-hidden
                            li
                                a(href="/english/html/servicios/auditoria.html") Audit and Assurance
                            li
                                a(href="/english/html/servicios/asesoria.html") Tax Advisory
                            li
                                a(href="/english/html/servicios/impuesto-nomina.html") Client Accounting Services (CAS)
                            li 
                                a(href="/english/html/servicios/consultorias-negocios.html") Business and Financial Consulting
                            li 
                                a(href="/english/html/servicios/desarrolloOrg.html") Organizational Development
                            li 
                                a(href="/english/html/servicios/proteccion.html") Asset Protection 
                    
                    //NOVEDADES
                    li
                        a(href="/english/html/noticias/noticias.html").noDisplay News
                        p.Display#novedades News
                        ul.toggle__novedades.mobile-hidden
                            li
                                a(href="/english/html/noticias/noticias.html") Notices
                            li
                                a(href="/english/html/noticias/boletines.html") News and Bulletins
                                                

                    //CAPITAL HUMANO    
                    li
                        a(href="/english/html/capital-humano/capital-humano.html") Team
                    
                    //CONTACTO
                    li
                        a(href="/english/html/contacto/contacto.html") Contact
                    
                    //TRADUCCION
                    li 
                        a(href="/index.html") VERSION EN ESPAÑOL


        //BARRA DE NAVEGACION
        .nav-container__navbar
            ul
                li 
                    a(href="/english/index.html") Home
                    

                //NOSOTROS
                li
                    a(href="/english/html/nosotros/quienesSomos.html") About Us
                    ul.toggle__nosotros
                        li
                            a(href="/english/html/nosotros/quienesSomos.html") Who we are
                        li
                            a(href="/english/html/nosotros/registros.html") Registries and Memberships
                        li
                            a(href="/english/html/nosotros/responsabilidadSoc.html") Social Responsability 
                        li 
                            a(href="/english/html/nosotros/certificaciones.html") Certifications
                        

                //SERVICIOS
                li
                    a(href="/english/html/servicios/auditoria.html") Services
                    ul.toggle__servicios
                        li
                            a(href="/english/html/servicios/auditoria.html") Audit and Assurance
                        li
                            a(href="/english/html/servicios/asesoria.html") Tax Advisory
                        li
                            a(href="/english/html/servicios/impuesto-nomina.html") Client Accounting Services (CAS)
                        li 
                            a(href="/english/html/servicios/consultorias-negocios.html") Business and Financial Consulting
                        li 
                            a(href="/english/html/servicios/desarrolloOrg.html") Organizational Development
                        li 
                            a(href="/english/html/servicios/proteccion.html") Asset Protection
                        
                
                //NOVEDADES
                li
                    a(href="/english/html/noticias/noticias.html") News
                    ul.toggle__novedades
                        li
                            a(href="/english/html/noticias/noticias.html") Notices
                        li
                            a(href="/english/html/noticias/boletines.html") News and Bulletins

                //CAPITAL HUMANO    
                li
                    a(href="/english/html/capital-humano/capital-humano.html") Team
                
                //CONTACTO
                li
                    a(href="/english/html/contacto/contacto.html") Contact
                    
        
            a(href="/index.html").boton  ESPAÑOL