include mixin.pug
doctype html
html(lang="es")
    include _head.pug
    body
        //Barra de navegación
        header 
            nav.nav-container
                picture
                    block img
            

                div.nav-container__menu
                    block menu
                     
                
                .nav-container__navbar
                    ul
                        li 
                            a(href="") Inicio
                        li
                            a(href="") Nosotros
                        li
                            a(href="") Servicios
                        li
                            a(href="") Novedades
                        li
                            a(href="") Capital Humano
                        li
                            a(href="") Contacto
                
                a(href="").boton  ENGLISH

        block contenido
        include footer.pug