include mixin.pug
doctype html
html(lang="es")
    include _head.pug
    body
        //Barra de navegación
        header#mi-barra
            nav.nav-container
                a.logo-container(href="./index.html")
                    img(src="./img/assets/logo2.webp" alt="Logo Mejía Lora y Asociados")
            

                div.nav-container__menu
                    label(for="menu").nav-label 
                        img(src="./icon/menu.svg", alt="menu hamburguesa")                
                    input(type="checkbox" id="menu").nav-input
                    
                    div.nav-movil
                        ul
                            li
                                a(href="./index.html") Inicio
                        
                            li
                                a(href="") Nosotros
                                ul
                                    li
                                        a(href="./html/nosotros/quienesSomos.html") Quienes Somos
                                    li
                                        a(href="./html/nosotros/registros.html") Registros y Membresías
                                    li
                                        a(href="./html/nosotros/responsabilidadSoc.html") Responsabilidad Social 
                                    li 
                                        a(href="./html/nosotros/certificaciones.html") Certificaciones 

                            //SERVICIOS
                            li
                                a(href="") Servicios
                                ul
                                    li
                                        a(href="./html/servicios/auditoria.html") Auditoría
                                    li
                                        a(href="./html/servicios/asesoria.html") Asesoría Fiscal
                                    li
                                        a(href="./html/servicios/impuesto-nomina.html") Impuesto - Nómina - Contabilidad
                                    li 
                                        a(href="./html/servicios/consultorias-negocios.html") Consultoría de Negocios y Financiera
                                    li 
                                        a(href="./html/servicios/desarrolloOrg.html") Desarrollo Organizacional
                                    li 
                                        a(href="./html/servicios/proteccion.html") Protección Patrimonial 
                            
                            //NOVEDADES
                            li
                                a(href="") Novedades
                                ul
                                    li
                                        a(href="./html/noticias/noticias.html") Avisos
                                    li
                                        a(href="./html/noticias/boletines.html") Noticias y Boletines

                            //CAPITAL HUMANO    
                            li
                                a(href="./html/capital-humano/capital-humano.html") Capital Humano
                            
                            //CONTACTO
                            li
                                a(href="./html/contacto/contacto.html") Contacto
                        
                        a(href="").boton  ENGLISH


                //BARRA DE NAVEGACION
                .nav-container__navbar
                    ul
                        li 
                            a(href="./index.html") Inicio

                        //NOSOTROS
                        li
                            a(href="") Nosotros
                            ul.toggle__nosotros
                                li
                                    a(href="./html/nosotros/quienesSomos.html") Quienes Somos
                                li
                                    a(href="./html/nosotros/registros.html") Registros y Membresías
                                li
                                    a(href="./html/nosotros/responsabilidadSoc.html") Responsabilidad Social 
                                li 
                                    a(href="./html/nosotros/certificaciones.html") Certificaciones 

                        //SERVICIOS
                        li
                            a(href="") Servicios
                            ul.toggle__servicios
                                li
                                    a(href="./html/servicios/auditoria.html") Auditoría
                                li
                                    a(href="./html/servicios/asesoria.html") Asesoría Fiscal
                                li
                                    a(href="./html/servicios/impuesto-nomina.html") Impuesto - Nómina - Contabilidad
                                li 
                                    a(href="./html/servicios/consultorias-negocios.html") Consultoría de Negocios y Financiera
                                li 
                                    a(href="./html/servicios/desarrolloOrg.html") Desarrollo Organizacional
                                li 
                                    a(href="./html/servicios/proteccion.html") Protección Patrimonial 
                        
                        //NOVEDADES
                        li
                            a(href="") Novedades
                            ul.toggle__novedades
                                li
                                    a(href="./html/noticias/noticias.html") Avisos
                                li
                                    a(href="./html/noticias/boletines.html") Noticias y Boletines

                        //CAPITAL HUMANO    
                        li
                            a(href="./html/capital-humano/capital-humano.html") Staff
                        
                        //CONTACTO
                        li
                            a(href="./html/contacto/contacto.html") Contacto
                
                a(href="").boton  ENGLISH

        block contenido
        include _footer.pug