include mixin.pug
doctype html
html(lang="es")
    include _head.pug
    body
        //Barra de navegación
        header 
            nav.nav-container
                picture: img(src="../img/logo2.webp" alt="Logo Mejía Lora y Asociados")

                div.nav-container__menu
                    a(href=""): img(src="../img/menu.svg", alt="")
                
                .nav-container__navbar
                    ul
                        li 
                            a(href="") Inicio
                        li
                            a(href="") Nosotros
                        li
                            a(href="") Servicios
                        li
                            a(href="") Novedades
                        li
                            a(href="") Capital Humano
                        li
                            a(href="") Contacto
                
                a(href="").boton  ENGLISH VERSION

        block contenido
        include footer.pug