include mixin.pug
doctype html
html(lang="es")
    include _head.pug
    body
        //Barra de navegación
        header#mi-barra
            nav.nav-container
                //a.logo-container(href="./index.html")
                    img(src="../img/assets/logo2.webp" alt="Logo Mejía Lora y Asociados")
                block mainLogo
            

                div.nav-container__menu
                    label(for="menu").nav-label
                        block burgerMenu
                        //img(src="../icon/menu.svg", alt="menu hamburguesa")                
                    input(type="checkbox" id="menu").nav-input
                    
                    div.nav-movil
                        ul
                            li 
                                block traductorMovil
                                
                            li
                                block homeLinkMovil
                        
                            li
                                a(href="") About Us
                                ul
                                    block nosotros

                            //SERVICIOS
                            li
                                a(href="") Services
                                ul
                                    block servicios 
                            
                            //NOVEDADES
                            li
                                a(href="") News
                                ul
                                    block noticias
                                    

                            //CAPITAL HUMANO    
                            li
                                block capitalHumano
                            
                            //CONTACTO
                            li
                                a(href="./html/contacto/contacto.html") Contact


                //BARRA DE NAVEGACION
                .nav-container__navbar
                    ul
                        li 
                            block homeLink
                            

                        //NOSOTROS
                        li
                            a(href="") About Us
                            ul.toggle__nosotros
                                block nosotros
                                 

                        //SERVICIOS
                        li
                            a(href="") Services
                            ul.toggle__servicios
                                block servicios
                                
                        
                        //NOVEDADES
                        li
                            a(href="") News
                            ul.toggle__novedades
                                block noticias

                        //CAPITAL HUMANO    
                        li
                            block capitalHumano
                        
                        //CONTACTO
                        li
                            block contacto
                            
                
                block botonEn
                

        block contenido
        include _footerEn.pug