footer.footer-container
            .footer-container__navbar
                ul
                    li
                        a(href="") Inicio 
                    li
                        a(href="") Nosotros 
                    li
                        a(href="") Avisos
                    li
                        a(href="") Capital Humano 
                    li
                        a(href="") Contacto

            .footer-movil__container
                picture: img(src="./img/40Aniv.webp" alt="Logo del 40 aniversario")
                p Mejia Lora & Asociados © 2023

script(type='text/javascript').
  var Tawk_API=Tawk_API||{};
  var Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5bcdc8e9460a125f2657111c/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();