footer.footer-container
            .footer-container__navbar
                ul
                    li
                        a(href="") Inicio 
                    li
                        a(href="") Nosotros 
                    li
                        a(href="") Avisos
                    li
                        a(href="") Capital Humano 
                    li
                        a(href="") Contacto

            .footer-movil__container
                picture: img(src="./img/40Aniv.png" alt="Logo del 40 aniversario")
                p Mejia Lora & Asociados © 2023