extend ./componentes/_plantilla.pug
block contenido

        //CONTENIDO PRINCIPAL
        main.main-container

            //CARRUSEL PRINCIPAL
            .main-container__carrusel
                .slider
                    //Primer slide
                    .slide.active
                        img(src='./img/slide/slide1.webp' alt='')
                        .info.main
                            h2 Firma de contadores públicos autorizados que ha estado operando desde el año 1983.
                            p
                                |Realizamos procesos de revisión y aseguramiento de forma independiente, objetiva y oportuna alineada a las normas y buenas prácticas internacionales. Brindamos una opinión certera sobre la actuación global de la empresa, sus procesos y controles, creando de esta manera valor para el desarrollo y mejora de su organización.
                            
                            a(href="./html/nosotros/quienesSomos.html") MÁS INFORMACIÓN 

                    //Segundo slide
                    .slide
                        img(src='./img/slide/slide2.webp' alt='')
                        .info
                            h2 Servicios de auditoría
                            p
                                |Realizamos procesos de revisión y aseguramiento de forma independiente, objetiva y oportuna alineada a las normas y buenas prácticas internacionales. Brindamos una opinión certera sobre la actuación global de la empresa, sus procesos y controles, creando de esta manera valor para el desarrollo y mejora de su organización.
                            
                            a(href="./html/servicios/auditoria.html") MÁS INFORMACIÓN

                    //Tercer slide
                    .slide
                        img(src='./img/slide/slide3.webp' alt='')
                        .info
                            h2 Desarrollo Organizacional
                            p
                                | Ofrecemos servicios especializados enfocados al desarrollo organizacional, los cuales permiten garantizar que su estrategia y recursos internos operen de forma eficiente, armónica y organizada permitiéndoles adaptarse a las necesidades actuales y futuras de forma planificada y controlada.
                            
                            a(href="./html/servicios/desarrolloOrg.html") MÁS INFORMACIÓN

                    //Cuarto slide
                    .slide
                        img(src='./img/slide/slide4.webp' alt='')
                        .info
                            h2 Impuestos - Nómina - Contabilidad
                            p
                                | Sobre la base de nuestra especialización en materia contable y fiscal en los diferentes sectores económicos del país, brindamos servicios de procesamiento contable y cumplimiento fiscal que garanticen: la calidad, confiabilidad y oportunidad de las informaciones financieras de su organzación.
                            
                            a(href="./html/servicios/impuesto-nomina.html") MÁS INFORMACIÓN

                    //Quinto slide
                    .slide
                        img(src='./img/slide/slide5.webp' alt='')
                        .info
                            h2 Asesoramiento Tributario
                            p
                                | Brindamos servicios especializados de asesoría y planificacion fiscal, consecución de acuerdos y defensas ante el órgano regulador, gestión de cumplimiento de compromisos fiscales, así como auditorías en la matería. Nuestros servicios se basan en la gestión de riesgos enfocada en la eficiencia tributaria bajo el debido cumplimiento.

                            a(href="./html/servicios/asesoria.html") MÁS INFORMACIÓN

                    //Navegación para los slides (Flechas)
                    .navigation
                        i.fas.fa-chevron-left.prev-btn
                        i.fas.fa-chevron-right.next-btn
                    
                    //Indicadores de los slides (puntos)
                    .navigation-visibility
                        .slide-icon.active
                        .slide-icon
                        .slide-icon
                        .slide-icon
                        .slide-icon

            //SERVICIOS
            section.main__servicios
                //h2 Servicios
                div.servicios__contenedor
                    a(href="./html/servicios/impuesto-nomina.html")
                        img(src="./img/slide/slide4.webp", alt="")
                        div
                            p Impuestos
                    a(href="./html/servicios/auditoria.html")
                        img(src="./img/slide/slide2.webp", alt="")
                        div
                            p Auditoria
                    a(href="./html/servicios/desarrolloOrg.html")
                        img(src="./img/slide/slide3.webp", alt="")
                        div
                            p Desarrollo Organizacional
                    a(href="./html/servicios/asesoria.html")
                        img(src="./img/servicios/Asesoria.webp", alt="")
                        div
                            p Asesoría Fiscal
                 
                    a(href="./html/servicios/consultorias-negocios.html")
                        img(src="./img/servicios/foto-consulto.webp", alt="")
                        div
                            p Consultoría de negocios
                    a(href="./html/servicios/proteccion.html")
                        img(src="./img/servicios/foto-protec.webp", alt="")
                        div
                            p Protección patrimonial
                 
            //NOTICIAS
            section.main-container__noticias.fade-in
                h1 Últimas Noticias
                .noticias__container
                    //Aqui se agregaran las noticias utilizando el mixin "noticia" creado en su respectivo documento.
                    +noticia("microsoftteams-image.webp","Reunion de BKR Internacional","BRK Regional Meeting","24 de Mayo","MLA cuenta con respaldo Internacional. Una de las principales (top 5) asociaciones mundiales de empresas independientes de auditorias y consultoría.","#")
                    +noticia("microsoftteams-image-1.webp","letras iguales al texto de abajo","Elevamos nuestro compromiso","19 de Mayo","Elevamos nuestro compromiso con Sistema de Gestión de Calidad Certificado por INTECO","#")
                    +noticia("publicacion-1.webp","letras iguales al texto de abajo","Día del contador público","17 de Mayo","¡Felicidades a todos los contadores públicos en su día! Su dedicación y conocimiento son imprescindibles. ¡Gracias por su excelente trabajo!","#","escondete")

            //SECCIÓN DE BKR
            section.main-container__respaldo.fade-in
                section
                    //Aquí se muestra información sobre el respaldo de la firma utilizando el mixin "respaldo".
                    +respaldo("bkr.webp","Logo BKR International","Respaldo Internacional", "MLA es miembro de BKR International, una asociación de firmas auditoras y consultoras de negocios localizadas en 81 paises y más de 588 oficinas en el mundo.")
                    +respaldo("servicio.svg","Logo de personas Staff","Staff Especializado", "De forma permanente preparamos cursos y seminarios de actualización para nuestros profesionales, con el fin de prestar servicios eficientes con los más altos estándares de calidad.")
                    +respaldo("calidad.svg","Logo de una diana con un dardo","Expertos en su sector","Desarrollamos metodologías personalizadas que aseguran procesos eficientes para cada sector empresarial. Basados en la experiencia y el conocimiento adquirido con la participación en diversos proyectos.")

            //CAPITAL HUMANO
            section.main-container__capital-humano.fade-in
                // Aquí se muestra información sobre los socios de la firma a través de mixins 'socio'
                section.capital-humano__container.fade-in
                    h2 Capital Humano
                    p Agregamos valor a nuestros clientes cumpliendo con sus requisitos y en satisfacer sus expectativas.
                    div.capital-humano__socios.fade-in
                        +socio("staff/reymi-mejia-1.webp", "Foto Raymi Mejía","Raymi Mejía","Socio")
                        +socio("staff/firelli.webp","Foto Firelli Mejía","Firelli Mejía","Socio")
                        +socio("staff/sayka-mejia-1.webp","Foto Sayka Mejía","Sayka Mejía","Socio")
                        +socio("staff/jose-mejia-1.webp","Foto José Mejía","José Mejía","Socio Fundador")
                        +socio("staff/Adelaida-Ortega-1.webp","Foto Adelaida Ortega","Adelaida Ortega","Gerente Fundador")
                    a(href="./html/capital-humano/capital-humano.html") Ver todos 
            
            //CARRUSEL DE CLIENTES
            section.main-container__clientes.fade-in
                h2 Nuestros Clientes
                div.carousel
                    div.carousel-container
                        img(src="./img/SLIDE-TRABAJADAS/gas-1.webp", alt="Imagen 1")
                        img(src="./img/SLIDE-TRABAJADAS/gas-2.webp", alt="Imagen 2")
                        img(src="./img/SLIDE-TRABAJADAS/gas-3.webp", alt="Imagen 3")
                        img(src="./img/SLIDE-TRABAJADAS/gas-4.webp", alt="Imagen 1")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-1.webp", alt="Imagen 2")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-2mesa-de-trabajo-1.webp", alt="Imagen 3")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-3mesa-de-trabajo-1.webp", alt="Imagen 1")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-4mesa-de-trabajo-1.webp", alt="Imagen 2")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-5mesa-de-trabajo-1.webp", alt="Imagen 3")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-6mesa-de-trabajo-1.webp", alt="Imagen 1")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-7mesa-de-trabajo-1.webp", alt="Imagen 2")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-8mesa-de-trabajo-1.webp", alt="Imagen 3")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-9mesa-de-trabajo-1.webp", alt="Imagen 1")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-10mesa-de-trabajo-1.webp", alt="Imagen 2")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-11mesa-de-trabajo-1.webp", alt="Imagen 3")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-12mesa-de-trabajo-1.webp", alt="Imagen 1")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-13mesa-de-trabajo-1.webp", alt="Imagen 2")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-14mesa-de-trabajo-1.webp", alt="Imagen 3")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-15mesa-de-trabajo-1.webp", alt="Imagen 1")
                        img(src="./img/SLIDE-TRABAJADAS/konst1mesa-de-trabajo-1.webp", alt="Imagen 2")
                        img(src="./img/SLIDE-TRABAJADAS/konst2mesa-de-trabajo-1.webp", alt="Imagen 3")
                        img(src="./img/SLIDE-TRABAJADAS/konst3mesa-de-trabajo-1.webp", alt="Imagen 1")
                        img(src="./img/SLIDE-TRABAJADAS/lamb1mesa-de-trabajo-1.webp", alt="Imagen 2")
                        img(src="./img/SLIDE-TRABAJADAS/lamb2mesa-de-trabajo-1.webp", alt="Imagen 3")
                        img(src="./img/SLIDE-TRABAJADAS/Merc1Mesa-de-trabajo-1.webp", alt="Imagen 1")
                        img(src="./img/SLIDE-TRABAJADAS/merc2Mesa-de-trabajo-1.webp", alt="Imagen 2")
                        img(src="./img/SLIDE-TRABAJADAS/merc3Mesa-de-trabajo-1.webp", alt="Imagen 3")
                        img(src="./img/SLIDE-TRABAJADAS/Pas1Mesa-de-trabajo-1.webp", alt="Imagen 1")
                        img(src="./img/SLIDE-TRABAJADAS/Pas2Mesa-de-trabajo-1.webp", alt="Imagen 2")
                        img(src="./img/SLIDE-TRABAJADAS/Pas3Mesa-de-trabajo-1.webp", alt="Imagen 3")
                        img(src="./img/SLIDE-TRABAJADAS/Pas4Mesa-de-trabajo-1.webp", alt="Imagen 1")

            //MAPA
            section.main-container__mapa.fade-in
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d473.09774136335295!2d-69.9549795556712!3d18.44820775376078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea5621e1e54cfff%3A0x70cbf5dd68314e49!2sMLA-%20Mejia%20Lora%20%26%20Asociados%20-%20Auditores!5e0!3m2!1ses-419!2sdo!4v1683561275739!5m2!1ses-419!2sdo" title="ubicacion" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">Ubicacion</iframe>

        //Pie de página