extend componentes/_plantilla.pug
block contenido

        //Sección principal
        main.main-container
            section.main-container__carrusel
                h1 Aqui va el carrusel de imagenes

            section.main-container__respaldo
                section
                    +respaldo("bkr.jpg","Respaldo Internacional", "MLA es miembro de BKR International, una asociación de firmas auditoras y consultoras de negocios localizadas en 81 paises y más de 588 oficinas en el mundo.")
                    +respaldo("servicio.svg", "Staff Especializado", "De forma permanente preparamos cursos y seminarios de actualización para nuestros profesionales, con el fin de prestar servicios eficientes con los más altos estándares de calidad.")
                    +respaldo("calidad.svg","Expertos en su sector","Desarrollamos metodologías personalizadas que aseguran procesos eficientes para cada sector empresarial. Basados en la experiencia y el conocimiento adquirido con la participación en diversos proyectos.")

            section.main-container__clientes
                div 
                    h2 Nuestros Clientes
                    h3 carrusel de clientes aqui

            section.main-container__capital-humano
                section.capital-humano__container
                    h2 Capital Humano
                    p Agregamos valor a nuestros clientes cumpliendo con sus requisitos y en satisfacer sus expectativas.
                    div.capital-humano__socios
                        +socio("reymi-mejia-1.jpg","Raymi Mejía","Socio")
                        +socio("firelli.png","Firelli Mejía","Socio")
                        +socio("sayka-mejia-1.jpg","Sayka Mejía","Socio")
                        +socio("jose-mejia-1.jpg","Jose Mejía","Socio Fundador")
                        +socio("Adelaida-Ortega-1.jpg","Adelaida Ortega","Gerente Fundador")
                    a(href="") Ver todos 


            section.main-container__noticias
                h1 Noticias

            section.main-container__contacto
                h2 Contáctenos
                section
                    +contactoP("icon-mail.svg","info@mejialora.com")
                    +contactoG("icon-location.svg","Oficina Corporativa:", "Avenida Sarasota # 136, Santo Domingo, República Dominicana")
                    +contactoG("icon-location.svg","Oficina Operativa:","Calle Santa Ana #16, Santo Domingo, República Dominicana")
                    +contactoG("icon-location.svg","International Mailing Address:","8540 NW 66 st AP-54099 Miami, FL 33195-2698")
                    +contactoP("icon-phone.svg","(809) 482-0838")
                    
                    div.contacto__social
                        a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/"): img(src="./img/104498_facebook_icon.svg")
                        a(href="https://www.secure.instagram.com/mejialora/?hl=es"): img(src="./img/1161953_instagram_icon.svg")
                        a(href="https://twitter.com/MejialoraAsoc"): img(src="./img/104501_twitter_bird_icon.svg")
                        a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/"): img(src="./img/367593_linkedin_business_network_social_icon.svg")
                    
                    h2 FORMULARIO DE CONTACTO

            section.main-container__mapa


        //Pie de página
        footer.footer-container
            .footer-movil__container
                picture: img(src="./img/40Aniv.png")
                p Mejia Lora & Asociados © 2023
        