doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/main.css")
        title Mejía Lora & Asociados
    body

        //Barra de navegación
        nav.nav-container

        //Sección principal
        main.main-container
            section.main-container__carrusel

            section.main-container__respaldo

            section.main-container__clientes

            section.main-container__capital-humano

            section.main-container__noticias

            section.main-container__contacto

            section.main-container__mapa

        //Pie de página
        footer.footer-container
        