extend ./componentes/_plantilla.pug

block mainLogo
    a.logo-container(href="./index.html")
        img(src="./img/assets/logo2.webp" alt="Logo Mejía Lora y Asociados")
block burgerMenu 
    img(src="./icon/menu.svg", alt="menu hamburguesa")
block homeLinkMovil
    a(href="./index.html") Inicio
block traductorMovil
    a(href="./english/index.html") ENGLISH VERSION
block homeLink
    a(href="./index.html").inicio Inicio
block stylesheet
    link(rel="stylesheet", href="../css/main.css")

block nosotros
    li
        a(href="./html/nosotros/quienesSomos.html") Nosotros
        ul.toggle__nosotros
            li
                a(href="./html/nosotros/quienesSomos.html") Quienes Somos
            li
                a(href="./html/nosotros/registros.html") Registros y Membresías
            li
                a(href="./html/nosotros/responsabilidadSoc.html") Responsabilidad Social 
            li 
                a(href="./html/nosotros/certificaciones.html") Certificaciones 

block servicios
    li
        a(href="./html/servicios/auditoria.html") Servicios
        ul.toggle__servicios
            li
                a(href="./html/servicios/auditoria.html") Auditoría
            li
                a(href="./html/servicios/asesoria.html") Asesoría Fiscal
            li
                a(href="./html/servicios/impuesto-nomina.html") Impuesto - Nómina - Contabilidad
            li 
                a(href="./html/servicios/consultorias-negocios.html") Consultoría de Negocios y Financiera
            li 
                a(href="./html/servicios/desarrolloOrg.html") Desarrollo Organizacional
            li 
                a(href="./html/servicios/proteccion.html") Protección Patrimonial

block noticias 
    li
        a(href="./html/noticias/noticias.html") Novedades
        ul.toggle__novedades
            li
                a(href="./html/noticias/noticias.html") Avisos
            li
                a(href="./html/noticias/boletines.html") Noticias y Boletines

block capitalHumano
    a(href="./html/capital-humano/capital-humano.html") Staff

block contacto 
    a(href="./html/contacto/contacto.html") Contacto

block botonEs
    a(href="./english/index.html").boton  ENGLISH

block footerLogo
    img(src="./img/assets/mla-white.webp" alt="Logo del 40 aniversario")


block footerSocialIcons 
    a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
        img(src="./icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
    a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
        img(src="./icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
    a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
        img(src="./icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
    //Posiblemente será eliminado
    a(href="https://twitter.com/MejialoraAsoc") 
        img(src="./icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter")

block footerMovilIcons
    a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
        img(src="./icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
    a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
        img(src="./icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
    a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
        img(src="./icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
    //Posiblemente será eliminado
    a(href="https://twitter.com/MejialoraAsoc") 
        img(src="./icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter") 






block contenido

        //CONTENIDO PRINCIPAL
        main.main-container
            a(href="#head")#btnBackToTop
                span ↑
            //CARRUSEL PRINCIPAL
            .main-container__carrusel#head
                .slider
                    //Primer slide
                    .slide.active
                        img(src='./img/slide/slide1.webp' alt='')
                        .info.main
                            h2.especial Firma de contadores públicos autorizados que ha estado operando desde el año 1983.
                            p
                                |Realizamos procesos de revisión y aseguramiento de forma independiente, objetiva y oportuna alineada a las normas y buenas prácticas internacionales. Brindamos una opinión certera sobre la actuación global de la empresa, sus procesos y controles, creando de esta manera valor para el desarrollo y mejora de su organización.
                            
                            a(href="./html/nosotros/quienesSomos.html") MÁS INFORMACIÓN 

                    //Segundo slide
                    .slide
                        img(src='./img/slide/slide2.webp' alt='')
                        .info
                            h2 Servicios de auditoría
                            p
                                |Realizamos procesos de revisión y aseguramiento de forma independiente, objetiva y oportuna alineada a las normas y buenas prácticas internacionales. Brindamos una opinión certera sobre la actuación global de la empresa, sus procesos y controles, creando de esta manera valor para el desarrollo y mejora de su organización.
                            
                            a(href="./html/servicios/auditoria.html") MÁS INFORMACIÓN

                    //Tercer slide
                    .slide
                        img(src='./img/slide/slide3.webp' alt='')
                        .info
                            h2 Desarrollo Organizacional
                            p
                                | Ofrecemos servicios especializados enfocados al desarrollo organizacional, los cuales permiten garantizar que su estrategia y recursos internos operen de forma eficiente, armónica y organizada permitiéndoles adaptarse a las necesidades actuales y futuras de forma planificada y controlada. 
                            
                            a(href="./html/servicios/desarrolloOrg.html") MÁS INFORMACIÓN

                    //Cuarto slide
                    .slide
                        img(src='./img/slide/slide4.webp' alt='')
                        .info
                            h2 Impuestos - Nómina - Contabilidad
                            p
                                | Sobre la base de nuestra especialización en materia contable y fiscal en los diferentes sectores económicos del país, brindamos servicios de procesamiento contable y cumplimiento fiscal que garanticen: la calidad, confiabilidad y oportunidad de las informaciones financieras de su organzación.
                            
                            a(href="./html/servicios/impuesto-nomina.html") MÁS INFORMACIÓN

                    //Quinto slide
                    .slide
                        img(src='./img/slide/slide5.webp' alt='')
                        .info
                            h2 Asesoramiento Tributario
                            p
                                | Brindamos servicios especializados de asesoría y planificacion fiscal, consecución de acuerdos y defensas ante el órgano regulador, gestión de cumplimiento de compromisos fiscales, así como auditorías en la matería. Nuestros servicios se basan en la gestión de riesgos enfocada en la eficiencia tributaria bajo el debido cumplimiento.

                            a(href="./html/servicios/asesoria.html") MÁS INFORMACIÓN

                    //Navegación para los slides (Flechas)
                    .navigation
                        i.fas.fa-chevron-left.prev-btn
                        i.fas.fa-chevron-right.next-btn
                    
                    //Indicadores de los slides (puntos)
                    .navigation-visibility
                        .slide-icon.active
                        .slide-icon
                        .slide-icon
                        .slide-icon
                        .slide-icon

            //SERVICIOS
            section.main__servicios
                //h2 Servicios
                div.servicios__contenedor
                    a(href="./html/servicios/impuesto-nomina.html")
                        img(src="./img/slide/slide4.webp", alt="")
                        div
                            p Impuestos
                    a(href="./html/servicios/auditoria.html")
                        img(src="./img/slide/slide2.webp", alt="")
                        div
                            p Auditoria
                    a(href="./html/servicios/desarrolloOrg.html")
                        img(src="./img/slide/slide3.webp", alt="")
                        div
                            p Desarrollo Organizacional
                    a(href="./html/servicios/asesoria.html")
                        img(src="./img/servicios/Asesoria.webp", alt="")
                        div
                            p Asesoría Fiscal
                 
                    a(href="./html/servicios/consultorias-negocios.html")
                        img(src="./img/servicios/foto-consulto.webp", alt="")
                        div
                            p Consultoría de negocios
                    a(href="./html/servicios/proteccion.html")
                        img(src="./img/servicios/foto-protec.webp", alt="")
                        div
                            p Protección patrimonial
                 
            //NOTICIAS
            section.main-container__noticias.fade-in
                h1 Últimas Noticias
                .noticias__container

                    //Aqui se agregaran las noticias utilizando el mixin "noticia" creado en su respectivo documento.
                    
                    +noticia("ley179-09.webp","Foto informativa con el planeta y el logo de la firma","FECHA LÍMITE ISR ASALARIADOS ACOGIDOS A LEY GASTOS EDUCATIVOS","1 de Febrero","La fecha límite para presentar la Declaración Jurada de Impuesto sobre la Renta para personas bajo el Régimen Simplificado de Tributación (RST) correspondiente al ejercicio fiscal 2023 es el 29 de febrero de 2024.","www.instagram.com/p/C2zyexGLQ_r/?hl=es&img_index=1")
                    +noticia("fitur.webp","Foto del Licenciado Raymi Mejia y la Licenciada Maria Curiel en Fitur 2024","MLA presente en Fitur 2024","25 de Enero","MLA dice presente en #Fitur 2024, firmes aliados estratégicos del sector turístico; la Firma MLA-Mejia Lora & Asociados, representada por Raymi J Mejia y Maria de Lourdes Curiel de Mejia, se hace nuevamente presente en la feria internacional turística de mayor relevancia.","www.instagram.com/p/C2h8Tm_rnV1/?hl=es&img_index=1")
                    +noticia("implementacionProyecto.webp","Foto con las mismas letras de la descripción","Implementación Proyecto BEPS Acción 13 Reporte País por País","22 de Enero","Desde el 2018, la República Dominicana se adhirió al Marco Inclusivo de la OCDE comprometiéndose a implementar y cumplir con ciertos estándares para fortalecer la transparencia e igualdad tributaria a nivel internacional, fortaleciendo la transparencia y la igualdad tributaria. ¡Avanzamos juntos hacia un sistema más justo!","www.instagram.com/p/C2aNaVUrfRx/?hl=es&img_index=1")
                    +noticia("elevandoExito.webp","Foto con las mismas letras de la descripción","Your Expert Partner in the journey of success","17 de Enero","Elevando el éxito empresarial y personal de nuestros clientes: Mejía Lora y Asociados, tu socio experto en cada paso del camino.","www.instagram.com/p/C2NBhgmLwUT/?hl=es")
                   

                .noticias__boton
                    a(href="./html/noticias/noticias.html") 
                        p VER MÁS
                        span 
                            <?xml version="1.0" ?><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#fff;}</style></defs><title/><g data-name="Layer 2" id="Layer_2"><path class="cls-1" d="M16.88,15.53,7,5.66A1,1,0,0,0,5.59,7.07l9.06,9.06-8.8,8.8a1,1,0,0,0,0,1.41h0a1,1,0,0,0,1.42,0l9.61-9.61A.85.85,0,0,0,16.88,15.53Z"/><path class="cls-1" d="M26.46,15.53,16.58,5.66a1,1,0,0,0-1.41,1.41l9.06,9.06-8.8,8.8a1,1,0,0,0,0,1.41h0a1,1,0,0,0,1.41,0l9.62-9.61A.85.85,0,0,0,26.46,15.53Z"/></g></svg>
                    

            //SECCIÓN DE BKR
            section.main-container__respaldo.fade-in
                section
                    //Aquí se muestra información sobre el respaldo de la firma utilizando el mixin "respaldo".
                    +respaldo("bkr.svg   ","Logo BKR International","Respaldo Internacional", "MLA es miembro de BKR International, una asociación de firmas auditoras y consultoras de negocios localizadas en 81 paises y más de 588 oficinas en el mundo.")
                    +respaldo("servicio.svg","Logo de personas Staff","Staff Especializado", "De forma permanente preparamos cursos y seminarios de actualización para nuestros profesionales, con el fin de prestar servicios eficientes con los más altos estándares de calidad.")
                    +respaldo("calidad.svg","Logo de una diana con un dardo","Expertos en su sector","Desarrollamos metodologías personalizadas que aseguran procesos eficientes para cada sector empresarial. Basados en la experiencia y el conocimiento adquirido con la participación en diversos proyectos.")

            //CAPITAL HUMANO
            section.main-container__capital-humano.fade-in
                // Aquí se muestra información sobre los socios de la firma a través de mixins 'socio'
                section.capital-humano__container.fade-in
                    h2.fade-in Capital Humano
                    p.fade-in Agregamos valor a nuestros clientes cumpliendo con sus requisitos y en satisfacer sus expectativas.
                    
                   
                    a(href="./html/capital-humano/capital-humano.html").fade-in Ver todos 
            
            //CARRUSEL DE CLIENTES
            section.main-container__clientes.fade-in
                h2 Nuestros Clientes
                div.carousel
                    div.carousel-container
                        img(src="./img/SLIDE-TRABAJADAS/gas-1.webp", alt="Imagen 1")
                        img(src="./img/SLIDE-TRABAJADAS/gas-2.webp", alt="Imagen 2")
                        img(src="./img/SLIDE-TRABAJADAS/gas-3.webp", alt="Imagen 3")
                        img(src="./img/SLIDE-TRABAJADAS/gas-4.webp", alt="Imagen 4")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-1.webp", alt="Imagen 5")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-2mesa-de-trabajo-1.webp", alt="Imagen 6")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-3mesa-de-trabajo-1.webp", alt="Imagen 7")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-4mesa-de-trabajo-1.webp", alt="Imagen 8")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-5mesa-de-trabajo-1.webp", alt="Imagen 9")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-6mesa-de-trabajo-1.webp", alt="Imagen 10")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-7mesa-de-trabajo-1.webp", alt="Imagen 11")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-8mesa-de-trabajo-1.webp", alt="Imagen 12")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-9mesa-de-trabajo-1.webp", alt="Imagen 13")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-10mesa-de-trabajo-1.webp", alt="Imagen 14")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-11mesa-de-trabajo-1.webp", alt="Imagen 15")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-12mesa-de-trabajo-1.webp", alt="Imagen 16")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-13mesa-de-trabajo-1.webp", alt="Imagen 17")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-14mesa-de-trabajo-1.webp", alt="Imagen 18")
                        img(src="./img/SLIDE-TRABAJADAS/hotel-15mesa-de-trabajo-1.webp", alt="Imagen 19")
                        img(src="./img/SLIDE-TRABAJADAS/konst1mesa-de-trabajo-1.webp", alt="Imagen 20")
                        img(src="./img/SLIDE-TRABAJADAS/konst2mesa-de-trabajo-1.webp", alt="Imagen 21")
                        img(src="./img/SLIDE-TRABAJADAS/konst3mesa-de-trabajo-1.webp", alt="Imagen 22")
                        img(src="./img/SLIDE-TRABAJADAS/lamb1mesa-de-trabajo-1.webp", alt="Imagen 23")
                        img(src="./img/SLIDE-TRABAJADAS/lamb2mesa-de-trabajo-1.webp", alt="Imagen 24")
                        img(src="./img/SLIDE-TRABAJADAS/Merc1Mesa-de-trabajo-1.webp", alt="Imagen 25")
                        img(src="./img/SLIDE-TRABAJADAS/merc2Mesa-de-trabajo-1.webp", alt="Imagen 26")
                        img(src="./img/SLIDE-TRABAJADAS/merc3Mesa-de-trabajo-1.webp", alt="Imagen 27")
                        img(src="./img/SLIDE-TRABAJADAS/Pas1Mesa-de-trabajo-1.webp", alt="Imagen 28")
                        img(src="./img/SLIDE-TRABAJADAS/Pas2Mesa-de-trabajo-1.webp", alt="Imagen 29")
                        img(src="./img/SLIDE-TRABAJADAS/Pas3Mesa-de-trabajo-1.webp", alt="Imagen 30")
                        img(src="./img/SLIDE-TRABAJADAS/Pas4Mesa-de-trabajo-1.webp", alt="Imagen 31")

            //MAPA
            section.main-container__mapa.fade-in
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d473.09774136335295!2d-69.9549795556712!3d18.44820775376078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea5621e1e54cfff%3A0x70cbf5dd68314e49!2sMLA-%20Mejia%20Lora%20%26%20Asociados%20-%20Auditores!5e0!3m2!1ses-419!2sdo!4v1683561275739!5m2!1ses-419!2sdo" title="ubicacion" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">Ubicacion</iframe>

        //Pie de página
block javaScript
    script(src="./script.js")