extend componentes/plantilla.pug
block contenido

        //Sección principal
        main.main-container
            section.main-container__carrusel

            section.main-container__respaldo

            section.main-container__clientes

            section.main-container__capital-humano

            section.main-container__noticias

            section.main-container__contacto

            section.main-container__mapa

        //Pie de página
        footer.footer-container
        