extend ../../componentes/_plantilla.pug

block logo
    link(rel="shortcut icon", href="../../icon/favicon.ico")
block mainLogo
    a.logo-container(href="../../index.html")
        img(src="../../img/assets/logo2.webp" alt="Logo Mejía Lora y Asociados")
block burgerMenu 
    img(src="../../icon/menu.svg", alt="menu hamburguesa")
block homeLinkMovil
    a(href="../../index.html") Inicio
block homeLink
    a(href="../../index.html") Inicio
block traductorMovil
    a(href="../../english/html/nosotros/registros.html") ENGLISH VERSION
block stylesheet
    link(rel="stylesheet", href="../../css/main.css")

block nosotros
    li
        a(href="../../html/nosotros/quienesSomos.html") Nosotros
        ul.toggle__nosotros
            li
                a(href="../../html/nosotros/quienesSomos.html") Quienes Somos
            li
                a(href="../../html/nosotros/registros.html") Registros y Membresías
            li
                a(href="../../html/nosotros/responsabilidadSoc.html") Responsabilidad Social 
            li 
                a(href="../../html/nosotros/certificaciones.html") Certificaciones 

block servicios
    li
        a(href="../../html/servicios/auditoria.html") Servicios
        ul.toggle__servicios
            li
                a(href="../../html/servicios/auditoria.html") Auditoría
            li
                a(href="../../html/servicios/asesoria.html") Asesoría Fiscal
            li
                a(href="../../html/servicios/impuesto-nomina.html") Impuesto - Nómina - Contabilidad
            li 
                a(href="../../html/servicios/consultorias-negocios.html") Consultoría de Negocios y Financiera
            li 
                a(href="../../html/servicios/desarrolloOrg.html") Desarrollo Organizacional
            li 
                a(href="../../html/servicios/proteccion.html") Protección Patrimonial 

block noticias 
    li
        a(href="../../html/noticias/noticias.html") Novedades
        ul.toggle__novedades
            li
                a(href="../../html/noticias/noticias.html") Avisos
            li
                a(href="../../html/noticias/boletines.html") Noticias y Boletines

block capitalHumano
    a(href="../../html/capital-humano/capital-humano.html") Staff

block contacto 
    a(href="../../html/contacto/contacto.html") Contacto

block botonEs
    a(href="../../english/html/nosotros/registros.html").boton  ENGLISH

block footerLogo
    img(src="../../img/assets/mla-white.webp" alt="Logo del 40 aniversario")

block footerSocialIcons
    a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
        img(src="../../icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
    a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
        img(src="../../icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
    a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
        img(src="../../icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
    //Posiblemente será eliminado
    a(href="https://twitter.com/MejialoraAsoc") 
        img(src="../../icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter")

block footerMovilIcons
    a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
        img(src="../../icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
    a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
        img(src="../../icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
    a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
        img(src="../../icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
    //Posiblemente será eliminado
    a(href="https://twitter.com/MejialoraAsoc") 
        img(src="../../icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter")

block javaScript
    script(src="../../subscript.js")




block contenido
        main
            section.RMtitular
                .RMtitular__text-container
                    h2 Registros y Membresías
                    p MLA cuenta con más de 20 membresías y/o registros, tanto en organismos reguladores nacionales como internacionales y diferentes instituciones relativas al sector financiero.
            
            section.membresia.fade-in
                h2.membresia__titular Membresías
                .membresia__item-container
                    +membresia('bkr.webp','Logo BKR','BKR International')
                    +membresia('instituto.webp','logo ICPARD', 'El Instituto de Contadores Públicos Autorizados de la República Dominicana (ICPARD)') 
                    +membresia('afcpard.webp','logo AFCPARD','Asociación de Firmas de Contadores Públicos Autorizados de la República Dominicana (AFCPARD)')
                    +membresia('asociacion.webp','Logo asociacion','Asociación Interamericana  de Contabilidad (AIC)')
                    +membresia('asonahores.webp','Logo ASONAHORES','Asociación Nacional de Hoteles y Restaurantes (ASONAHORES)')
                    +membresia('asociacion.webp','Logo Foro de Firmas Interamericanas','Foro de Firmas Interamericanas')
                    +membresia('ifa.webp','logo IFA','International Fiscal Association (IFA)')
                    +membresia('IFAC.png','Logo IFAC','Federación Internacional de Contadores (IFAC)')
                    +membresia('prueba.png','Logo AMLCA','Anti-Money Laundering Certified Associate (AMLCA)')
                    +membresia('anje.webp','logo ANJE','Asociación Nacional de Jóvenes Empresarios (ANJE)')
            
            section.registro.fade-in
                h2.registro__titular Registros
                .registro__item-container
                    +registro('Auditores Externos de la  Superintendencia de Bancos  de la República Dominicana (SIB).')
                    +registro('Auditores Externos de la  Superintendencia de Valores  de la República Dominicana (SIMV).')
                    +registro('Auditores Externos de la  Superintendencia de Seguros.')
                    +registro('Auditores Externos de la  Superintendencia de Pensiones (SIPEN).')
                    +registro('Auditores Externos del Instituto de  Desarrollo y Crédito Cooperativo (IDECOOP).')
                    +registro('Auditores Independiente del  Banco Interamericano de  Desarrollo (BID).')
