extend ../../componentes/_subplantilla.pug
block logo
    link(rel="shortcut icon", href="../../icon/favicon.ico")
block stylesheet
    link(rel="stylesheet", href="../../css/main.css")  
block contenido
        main
            section.RMtitular
                .RMtitular__text-container
                    h2 Registros y Membresías
                    p MLA cuenta con más de 20 membresías y/o registros, tanto en organismos reguladores nacionales como internacionales y diferentes instituciones relativas al sector financiero.
            
            section.membresia.fade-in
                h2.membresia__titular Membresías
                .membresia__item-container
                    +membresia('instituto.webp','logo ICPARD', 'El Instituto de Contadores Públicos Autorizados de la República Dominicana (ICPARD)') 
                    +membresia('anje.webp','logo ANJE','Asociación Nacional de Jóvenes Empresarios (ANJE)')
                    +membresia('ifa.webp','logo IFA','International Fiscal Association')
                    +membresia('asonahores.webp','logo ASONAHORES','Asociación Nacional de Hoteles y Restaurantes')
                    +membresia('afcpard.webp','logo AFCPARD','Asociación de Firmas de Contadores Públicos Autorizados de la República Dominicana (AFCPARD)')
                    +membresia('asociacion.webp','Logo asociacion','Asociación Interamericana  de Contabilidad')
                    +membresia('atri.webp','logo ATRI','Asociación Tributaria de la  República Dominicana')
                    +membresia('bkr.webp','Logo BKR','BKR International')
            
            section.registro.fade-in
                h2.registro__titular Registros
                .registro__item-container
                    +registro('Auditores Externos de la  Superintendencia de Bancos  de la República Dominicana.')
                    +registro('Auditores Externos de la  Superintendencia de Valores  de la República Dominicana.')
                    +registro('Auditores Externos de la  Superintendencia de Pensiones.')
                    +registro('Auditores Independiente del  Banco Interamericano de  Desarrollo (BID).')
                    +registro('Auditores Externos de la  Superintendencia de Seguros.')
                    +registro('Auditores Externos del Instituto de  Desarrollo y Crédito Cooperativo.')
                    +registro('Auditores Externos de la Dirección  General de Contrataciones Públicas')
