extend ../../../componentes/_plantillaEn.pug

block logo
    link(rel="shortcut icon", href="../../../icon/favicon.ico")
block mainLogo
    a.logo-container(href="../../index.html")
        img(src="../../../img/assets/logo2.webp" alt="Logo Mejía Lora y Asociados")
block burgerMenu 
    img(src="../../../icon/menu.svg", alt="menu hamburguesa")
block homeLinkMovil
    a(href="../../index.html") Home
block homeLink
    a(href="../../index.html") Home
block stylesheet
    link(rel="stylesheet", href="../../../css/main.css")

block nosotros
    li
        a(href="../../html/nosotros/quienesSomos.html") Who we are
    li
        a(href="../../html/nosotros/registros.html") Registries and Memberships
    li
        a(href="../../html/nosotros/responsabilidadSoc.html") Social Responsability 
    li 
        a(href="../../html/nosotros/certificaciones.html") Certifications

block servicios
    li
        a(href="../../html/servicios/auditoria.html") Audit and Assurance
    li
        a(href="../../html/servicios/asesoria.html") Tax Advisory
    li
        a(href="../../html/servicios/impuesto-nomina.html") Client Accounting Services (CAS)
    li 
        a(href="../../html/servicios/consultorias-negocios.html") Business and Financial Consulting
    li 
        a(href="../../html/servicios/desarrolloOrg.html") Organizational Development
    li 
        a(href="../../html/servicios/proteccion.html") Asset Protection

block noticias 
    li
        a(href="../../html/noticias/noticias.html") Notices
    li
        a(href="../../html/noticias/boletines.html") News and Bulletins

block capitalHumano
    a(href="../../html/capital-humano/capital-humano.html") Team

block contacto 
    a(href="../../html/contacto/contacto.html") Contact

block botonEn
    a(href="../../../html/contacto/contacto.html").boton  ESPAÑOL

block footerLogo
    img(src="../../../img/assets/mla-white.webp" alt="Logo del 40 aniversario")

block footerSocialIcons
    a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
        img(src="../../../icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
    a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
        img(src="../../../icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
    a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
        img(src="../../../icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
    //Posiblemente será eliminado
    a(href="https://twitter.com/MejialoraAsoc") 
        img(src="../../../icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter")

block footerMovilIcons
    a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
        img(src="../../../icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
    a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
        img(src="../../../icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
    a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
        img(src="../../../icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
    //Posiblemente será eliminado
    a(href="https://twitter.com/MejialoraAsoc") 
        img(src="../../../icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter")

block javaScript
    script(src="../../../subscript.js")


block contenido

        main
            section.encabezado
                section.contacto__encabezado
                    div
                        h2 Contact

                section

                    section.main__formulario
                        article.contacto__formulario
                            p Leave us your request and we will respond as soon as possible
                            form(action="https://formsubmit.co/zifucipi@mailgolem.com" method="POST").formulario__formulario.fade-in
                                div.formulario__formulario--1
                                    label(for="nombres")
                                        input(type="text" id="nombres" name="nombres" placeholder="Name")
                                    label(for="apellidos")
                                        input(type="text" id="apellidos" name="apellidos" placeholder="Surnames")
                                div
                                    label(for="correo")
                                        input(type="email" id="correo" name="correo" placeholder="E-mail")
                                    label(for="telefono")
                                        input(type="number" id="telefono" name="telefono" placeholder="Phone") 
                                .formulario__comentario.fade-in
                                    label(for="comentario")
                                        input(type="text" id="comentario" name="comentario")
            
                                button(type="submit") Send

                            a(href="#").formulario__link Download service form 

                        article.contacto__informacion.fade-in
                            h2 Contact information
                            article.fade-in
                                img(src="../../../icon/icon-mail.svg", alt="icono de correo")
                                p info@mejialora.com
                            article.contacto__informacion--excepcion.fade-in
                                img(src="../../../icon/icon-location.svg", alt="icono de localización")
                                div
                                    p Oficina Corporativa:
                                    p Avenida Sarasota #136, Santo Domingo, República Dominicana
                            article.contacto__informacion--excepcion.fade-in
                                img(src="../../../icon/icon-location.svg", alt="icono de localización")
                                div
                                    p Oficina Corporativa:
                                    p Avenida Santa Ana #16, Santo Domingo, República Dominicana
                            article.contacto__informacion--excepcion.fade-in
                                img(src="../../../icon/icon-location.svg", alt="Icono de localizacion")
                                div
                                    p International Mailing Address:
                                    p 8540 NW 66 st AP-54099 Miami, FL 33195-2698
                            article.fade-in
                                img(src="../../../icon/icon-phone.svg", alt="Icono de telefono")
                                p (809) 482-0838
                            
                            div.contacto__redes.fade-in
                                a(href="#")
                                    img(src="../../../icon/104498_facebook_icon.svg", alt="logo de facebook")
                                a(href="#") 
                                    img(src="../../../icon/1161953_instagram_icon.svg", alt="logo de instagram")
                                a(href="#") 
                                    img(src="../../../icon/104501_twitter_bird_icon.svg", alt="logo de twitter")
                                a(href="#") 
                                    img(src="../../../icon/367593_linkedin_business_network_social_icon.svg", alt="logo de linkedin")
                    section.contacto__mapa.fade-in
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d473.09774136335295!2d-69.9549795556712!3d18.44820775376078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea5621e1e54cfff%3A0x70cbf5dd68314e49!2sMLA-%20Mejia%20Lora%20%26%20Asociados%20-%20Auditores!5e0!3m2!1ses-419!2sdo!4v1683561275739!5m2!1ses-419!2sdo" title="ubicacion" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">Ubicacion</iframe>