
.nosotros{
    width: 100%;
    height: 512px;
    background-image: url(../img/assets/bg-section.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $colorLetra2;
    text-align: center;
    animation: fadeInLeft;
    animation-duration: 1s;
    @include flexRule(null,center,center);

    &__text-container{
        width: 95%;
        
        h2{
            font-size: 2.8rem;
            font-weight: 300;
            margin-bottom: 8px;
        }
        p{
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 22px;
        }
    }
}

//TABLET
@media(min-width: $breakpoint-tablet){
    .nosotros{
        background-attachment:fixed;
        
        &__text-container{
            width: 85%;

            p{
                font-size: 1.8rem;
                line-height: 2.8rem;
            }
        }
    }
}

//DESKTOP
@media(min-width: $breakpoint-desktop){
    .nosotros{
        
        &__text-container{
            width: 75%;

            h2{
                font-size: 4rem;
                font-weight: 400;
                margin-bottom: 16px;
            }
            
            p{
                font-size: 2rem;
                font-weight: 300;
                line-height: 32px;
            }
        }
    }
}