extend ../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido
 
        main

            section.encabezado__capital
                picture
                    img(src="../../img/servicios/DO3.webp", alt="Foto de una Lupa analizando un documento")
                        
            
                section.encabezado__titular 
                    h2 Formulario de empleo

                .mensajeVentana
                    h2.mensajeVentana__titularPrincipal ¡Ven y únete a nuestro equipo MLA!

                    article.mensajeVentana__primerParrafo
                        p.mensajeVentana__titular ¿Qué estamos buscando?

                        p Buscamos profesionales talentosos, motivados y comprometidos con la calidad y la excelencia. Si tienes experiencia o quieres desarrollarte en las áreas de auditoría, contabilidad, consultoría o áreas afines, ¡te invitamos a postularte! 

                    p.mensajeVentana__titular En MLA, ofrecemos:
                    
                    ul.mensajeVentana__lista 
                        li 
                            strong Más de 41 años de experiencia y trayectoria de éxito: 
                            span Somos reconocidos como la mejor Firma Nacional de Auditoría, Contabilidad y Consultoría del año 2023. Además:
                        li 
                            p El respaldo internacional de BKR.
                        li 
                            p Un compromiso con la calidad y la credibilidad.
                        li 
                            p Grandes oportunidades de desarrollo profesional y personal.
 
                    .enlacesBoton
                        strong ¡No te pierdas la oportunidad de ser parte de un equipo ganador! 
                        strong MLA: tu futuro profesional comienza aquí.
    
            
            
            section.formulario-empleo
                form(action="https://formsubmit.co/reclutamiento@mejialora.com" method="POST" enctype="multipart/form-data").formulario
        
                    h2.elemento1 Información personal
                    
                    .elemento.elemento2
                        label(for="nombre") Nombre y Apellido
                        input(type="text" id="nombre" name="nombre" required)

                    .elementos
                        .elemento.elemento3
                            label(for="tipoDocumento") Tipo de Documento de Identidad
                            select(id="tipoDocumento" name="tipoDocumento" required)
                                option(value="pasaporte") Pasaporte
                                option(value="cedula") Cédula
                        
                        .elemento.elemento4
                            label(for="numeroDocumento") Número de Documento de Identidad
                            input(type="text" id="numeroDocumento" name="numeroDocumento" required)

                    .elemento.elemento5
                        label(for="direccion") Dirección Residencial Completa
                        input(type="text" id="direccion" name="direccion" required)
                    
                    .elementos
                        .elemento.elemento6
                            label(for="email") Dirección de Correo Electrónico
                            input(type="email" id="email" name="email" required)

                        .elemento.elemento7
                            label(for="telefono") Número de Teléfono
                            input(type="tel" id="telefono" name="telefono" pattern="[0-9]{10}" required)

                        .elemento.elemento8
                            label(for="celular") Número de Celular
                            input(type="tel" id="celular" name="celular" pattern="[0-9]{10}" required)

                
                    h2 Formación academica 
                    #formaciones-academicas
                        .formacion-academica
                            .elementos
                                .elemento.elemento9
                                    label(for="centroEducativo") Universidad
                                    input(type="text" name="centroEducativo" required)

                                .elemento.elemento10
                                    label(for="tituloObtenido") Grado o Título Obtenido
                                    input(type="text" name="tituloObtenido" required)

                    

                    //button(type="button" id="agregarFormacionAcademica").boton Agregar otra formación académica


                    h2 Formación Técnica
                    #formaciones-tecnicas
                        .formacion-tecnica
                            .elementos
                                .elemento.elemento12
                                    label(for="manejoOffice") ¿Maneja el Paqute de Office?
                                    select(id="manejoOffice" name="manejoOffice")
                                        option(value="si") Si
                                        option(value="no") No  
                                
                

                    //button(type="button" id="agregarFormacionTecnica").boton Agregar otra formación técnica

                    h2 Idiomas
                    #idiomas
                        .idioma
                            .elementos
                                .elemento.elemento15
                                    label(for="idioma") Idioma
                                    input(type="text" name="idioma" required)

                                .elemento.elemento16
                                    label(for="nivelIdioma") Nivel
                                    select(id="nivelIdioma" name="nivelIdioma" required)
                                        option(value="Basico") Básico
                                        option(value="Intermedio") Intermedio
                                        option(value="Avanzado") Avanzado
                            
                

                    //button(type="button" id="agregarIdioma").boton Agregar otro idioma

                    div
                        p Adjuntar CV (En formato PDF)
                        p Limite de peso: 5MB*
                        input(type="file" accept="application/pdf" name="curriculum")

                    input(type="submit" required).boton-enviar

            
