extend ../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido
 
        main
            section.encabezado__capital
                    picture
                        img(src="../../img/servicios/DO3.webp", alt="Foto de una Lupa analizando un documento")
                        
                        h2 Formulario de empleo


            
            section.formulario-empleo
                form(action="https://formsubmit.co/reclutamiento@mejialora.com" method="POST" enctype="multipart/form-data").formulario
                    
                    section.formulario__personal
                        h2 Información personal
                        
                        label(for="nombre") Nombre y Apellido
                        input(type="text" id="nombre" name="nombre" required)

                        label(for="tipoDocumento") Tipo de Documento de Identidad
                        select(id="tipoDocumento" name="tipoDocumento" required)
                            option(value="pasaporte") Pasaporte
                            option(value="cedula") Cédula
                            
                        label(for="numeroDocumento") Número de Documento de Identidad
                        input(type="text" id="numeroDocumento" name="numeroDocumento" required)

                        label(for="direccion") Dirección Residencial Completa
                        input(type="text" id="direccion" name="direccion" required)

                        label(for="email") Dirección de Correo Electrónico
                        input(type="email" id="email" name="email" required)

                        label(for="telefono") Número de Teléfono
                        input(type="tel" id="telefono" name="telefono" pattern="[0-9]{10}" required)

                        label(for="celular") Número de Celular
                        input(type="tel" id="celular" name="celular" pattern="[0-9]{10}" required)

  

                    section.formulario__academica
                        h2 Formación academica 
                          #formaciones-academicas
                            .formacion-academica
                            label(for="centroEducativo") Centro Educativo
                            input(type="text" name="centroEducativo" required)

                            label(for="tituloObtenido") Grado o Título Obtenido
                            input(type="text" name="tituloObtenido" required)

                            label(for="fechaObtencion") Fecha de Obtención
                            input(type="date" name="fechaObtencion" required)

                        button(type="button" id="agregarFormacionAcademica") Agregar Otra Formación Académica

                    
                    
                    section.formulario__academica
                    
                        h2 Formación técnica
                        div 
                            section.academica.academica-1
                                p.academica__titular Formación #1
                                label(for="centro")
                                    p Centro Educativo / Universidad
                                    input(type="text" id="centro")
                                
                                label(for="grado")
                                    p Grado o titulo obtenido
                                    input(type="text" id="grado")
                                
                                label(for="fechaTitulo")
                                    p Fecha
                                    input(type="date", name="fecha del titulo" id="fechaTitulo")
                            
                            section.academica.academica-2
                                p.academica__titular Formación #2
                                label(for="centro")
                                    p Centro Educativo / Universidad
                                    input(type="text" id="centro")
                                
                                label(for="grado")
                                    p Grado o titulo obtenido
                                    input(type="text" id="grado")
                                
                                label(for="fechaTitulo")
                                    p Fecha
                                    input(type="date", name="fecha del titulo" id="fechaTitulo")
                            
                            section.academica.academica-3
                                p.academica__titular Formación #3
                                label(for="centro")
                                    p Centro Educativo / Universidad
                                    input(type="text" id="centro")
                                
                                label(for="grado")
                                    p Grado o titulo obtenido
                                    input(type="text" id="grado")
                                
                                label(for="fechaTitulo")
                                    p Fecha
                                    input(type="date", name="fecha del titulo" id="fechaTitulo")
                                
                            section.academica.academica-4
                                p.academica__titular Formación #4
                                label(for="centro")
                                    p Centro Educativo / Universidad
                                    input(type="text" id="centro")
                                
                                label(for="grado")
                                    p Grado o titulo obtenido
                                    input(type="text" id="grado")
                                
                                label(for="fechaTitulo")
                                    p Fecha
                                    input(type="date", name="fecha del titulo" id="fechaTitulo")

                            section.academica.academica-5
                                p.academica__titular Formación #5
                                label(for="centro")
                                    p Centro Educativo / Universidad
                                    input(type="text" id="centro")
                                
                                label(for="grado")
                                    p Grado o titulo obtenido
                                    input(type="text" id="grado")
                                
                                label(for="fechaTitulo")
                                    p Fecha
                                    input(type="date", name="fecha del titulo" id="fechaTitulo")
                    


                    section.formulario__idiomas
                        h2 Idiomas
                        div
                            p.idioma__titular Idioma #1
                            section
                                label(for="idiomas")
                                    p Idioma
                                    input(type="text" id="idiomas")

                                    p Nivel
                                    select(name="idiomas")
                                        option Básico
                                        option Intermedio
                                        option Avanzado
                            
                            p.idioma__titular Idioma #2
                            section
                                label(for="idiomas")
                                    p Idioma
                                    input(type="text" id="idiomas")

                                    p Nivel
                                    select(name="idiomas")
                                        option Básico
                                        option Intermedio
                                        option Avanzado
                            
                            p.idioma__titular Idioma #3
                            section
                                label(for="idiomas")
                                    p Idioma
                                    input(type="text" id="idiomas")

                                    p Nivel
                                    select(name="idiomas")
                                        option Básico
                                        option Intermedio
                                        option Avanzado
                            
                            p.idioma__titular Idioma #4
                            section
                                label(for="idiomas")
                                    p Idioma
                                    input(type="text" id="idiomas")

                                    p Nivel
                                    select(name="idiomas")
                                        option Básico
                                        option Intermedio
                                        option Avanzado
                            
                            p.idioma__titular Idioma #5
                            section
                                label(for="idiomas")
                                    p Idioma
                                    input(type="text" id="idiomas")

                                    p Nivel
                                    select(name="idiomas")
                                        option Básico
                                        option Intermedio
                                        option Avanzado
                   
                    
                    div
                        p Adjuntar CV (En formato PDF)
                        input(type="file" accept="application/pdf" name="curriculum")
                    
                    input(type="submit").boton