extend ../../../componentes/_plantillaEn.pug

block logo
    link(rel="shortcut icon", href="../../../icon/favicon.ico")
block mainLogo
    a.logo-container(href="../../index.html")
        img(src="../../../img/assets/logo2.webp" alt="Logo Mejía Lora y Asociados")
block burgerMenu 
    img(src="../../../icon/menu.svg", alt="menu hamburguesa")
block homeLinkMovil
    a(href="../../index.html") Home
block homeLink
    a(href="../../index.html") Home
block stylesheet
    link(rel="stylesheet", href="../../../css/main.css")

block nosotros
    li
        a(href="../../html/nosotros/quienesSomos.html") Who we are
    li
        a(href="../../html/nosotros/registros.html") Registries and Memberships
    li
        a(href="../../html/nosotros/responsabilidadSoc.html") Social Responsability 
    li 
        a(href="../../html/nosotros/certificaciones.html") Certifications

block servicios
    li
        a(href="../../html/servicios/auditoria.html") Audit and Assurance
    li
        a(href="../../html/servicios/asesoria.html") Tax Advisory
    li
        a(href="../../html/servicios/impuesto-nomina.html") Client Accounting Services (CAS)
    li 
        a(href="../../html/servicios/consultorias-negocios.html") Business and Financial Consulting
    li 
        a(href="../../html/servicios/desarrolloOrg.html") Organizational Development
    li 
        a(href="../../html/servicios/proteccion.html") Asset Protection

block noticias 
    li
        a(href="../../html/noticias/noticias.html") Notices
    li
        a(href="../../html/noticias/boletines.html") News and Bulletins

block capitalHumano
    a(href="../../html/capital-humano/capital-humano.html") Team

block contacto 
    a(href="../../html/contacto/contacto.html") Contact

block botonEn
    a(href="../../../html/servicios/consultorias-negocios.html").boton  ESPAÑOL

block footerLogo
    img(src="../../../img/assets/mla-white.webp" alt="Logo del 40 aniversario")

block footerSocialIcons
    a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
        img(src="../../../icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
    a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
        img(src="../../../icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
    a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
        img(src="../../../icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
    //Posiblemente será eliminado
    a(href="https://twitter.com/MejialoraAsoc") 
        img(src="../../../icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter")

block footerMovilIcons
    a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
        img(src="../../../icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
    a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
        img(src="../../../icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
    a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
        img(src="../../../icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
    //Posiblemente será eliminado
    a(href="https://twitter.com/MejialoraAsoc") 
        img(src="../../../icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter")

block javaScript
    script(src="../../../subscript.js")


block contenido
 
        main
            section.encabezado__impuesto
                picture
                    img(src="../../../img/servicios/foto-consulto.webp", alt="Foto de una Lupa analizando un documento")
                .encabezado__titular
                    h2 Business and Financial Consulting

                p We advise your organization in the definition of its financial and corporate strategy with the aim of making its financial resources even more profitable. We evaluate strategic alternatives to determine tangible objectives and goals by carrying out concrete strategic plans and projects.
            
            
            
            
            
            //section.encabezado
                section.consultoria__encabezado
                    div
                        h2 Business and Financial Consulting
                    
            
                section.consultoria__enfoque
                    picture
                        img(src="../../../img/servicios/foto-consulto.webp", alt="Lentes sobre papeles con números")
                    article 
                        p We advise your organization in the definition of its financial and corporate strategy with the aim of making its financial resources even more profitable. We evaluate strategic alternatives to determine tangible objectives and goals by carrying out concrete strategic plans and projects.

            section.consultoria__servicios.fade-in
                strong.fade-in Our consulting services include:
                h3.fade-in Business Consulting and Agreed-Upon Procedures
                ul.fade-in
                    p These services focus on the design of strategies and support in their execution to achieve the expected results. We coordinate specialized procedures related to Business Intelligence that pursue specific objectives. Among these we highlight:

                    li Project Management Outsourcing.
                    li Purchasing management analysis.
                    li Warehouse system optimization.
                    li Fixed Asset Inventory and Reconciliation.
                    li Business Intelligence.
                    li Credit portfolio risk assessment.
                    li Preparation of general or specific budgets.
                    li Budget monitoring and control.
                h3.fade-in Business plans, feasibility studies and business valuation:
                ul.fade-in
                    p EThis set of services focuses on economic, financial, and feasibility studies that allow the generation and analysis of prospective information useful to evaluate the viability of investment projects and/or to know the fair value of a company, brand, product or business line. Among these we highlight:
                    li Maturity test of the business idea.
                    li Preparation of business plans.
                    li Evaluation of risks and contingencies of projects and business ideas.
                    li Feasibility study , Cost–benefit analysis and / or prospective study.
                    li Financial modeling based on the analysis of variables and alternatives.
                    li Preparation of prospective financial statements.
                    li Business Valuation.
                h3.fade-in Financial Planning:
                p.fade-in Analysis and structuring of financial strategies for companies and individuals, which are aligned with the expected objectives.
                h3.fade-in Advisory on Mergers and Acquisitions.
                p.fade-in Specialized advisory on the sale, acquisition, mergers and strategic alliances between companies and shareholding restructuring.
                h3.fade-in Analysis of the Financing Structure:
                p.fade-in It involves carrying out a study that allows the efficient structuring of long and short-term liabilities considering the capital needs of the company.
                h3.fade-in Business Strategy:
                p.fade-in It implies support in the strategic decision-making of your organization by putting at your disposal our experienced resources that guarantee the achievement of the expected results.

            //section.mainStaffEspecializado.fade-in
                h2 Staff Especializado
                .staffEspecializado__container
                    +staffEspecializado("../../html/capital-humano/capital-humano.html","Nallil Rodríguez","Gerente Junior de Auditoría","nallil.webp","Foto de Nallil Rodríguez")
                    +staffEspecializado("../../html/capital-humano/capital-humano.html","Aminta Rodríguez","Supervisora de Auditoría","aminta.webp","Foto de Aminta Rodríguez")
                    +staffEspecializado("../../html/capital-humano/capital-humano.html","Indira Jiménez","Gerente de Auditoría","indira.webp","Foto de Indira Jímenez")
                    +staffEspecializado("../../html/capital-humano/capital-humano.html","Rafael Mateo","Gerente de Auditoría","rafael.webp","Foto de Rafael Mateo")
                    
            section.auditoria__contacto.fade-in
                p For more information and request our services
                a(href="../../html/contacto/contacto.html") Contact us now