.encabezado__capital {
    background-color: $colorPrincipal;
    padding-bottom: 30px;
    img{
        width: 100%;
        height: 280px;
    }
    .encabezado__titular{
        width: 218px;
        height: 36px;
        background-color: #043877;
        margin: 0 auto;
        border: 3px solid white;
        border-radius: 8px;
        @include flexRule(null,center,center);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        position: relative;
        top: -24px;
        h2{
            font-size: 1.6rem;
            color: white;
        }
    }
    p{
        padding: 10px 20px;
        font-size: 1.6rem;
        line-height: 2.8rem;

        a{
            margin-left: 8px;
            text-decoration: none;
            color: #007bff;
        }
    }
}

@media(min-width: $breakpoint-tablet){
    .encabezado__capital{
        picture{

            img{
                height: 300px;
                object-fit: cover;
            }
        }
        .encabezado__titular{
            width: 320px;
            height: 40px;

            h2{
                font-size: 2rem;
            }
        }
        p{
            padding: 10px 40px;
        }
    }
}

@media(min-width: $breakpoint-laptop){
    .encabezado__capital{
        picture{

            img{
                height: 400px;
            }
        }
        .encabezado__titular{
            width: 320px;
            height: 40px;

            h2{
                font-size: 2rem;
            }
        }
        p{
            padding: 10px 40px;
            font-size: 2rem;
        }
    }
}

@media(min-width: $breakpoint-desktop){
    .encabezado__capital{
        picture{
            width: 100%;
            height: 500px;
            display: block;
            
            img{
                width: 100vw;
                display: block;
                height: 100%;
            }
        }
        .encabezado__titular{
            width: 400px;
            height: 48px;

            h2{
                font-size: 2.4rem;
            }
        }
        p{
            max-width: 1200px;
            margin: 0 auto;
            padding: 10px 0;
            font-size: 2rem;
        }
    }
}