.formulario-empleo{
    padding: 48px 12px;

    .formulario{
        
        div{
            p{
                padding-bottom: 12px;
            }
    
            input{
                margin-bottom: 40px;
            }
    
            label{
                p{
                    padding-bottom: 8px;
                }
    
                input{
                    @include wH(100%,40px);
                    padding: 12px;
                    border: none;
                    border-radius: 8px;
                    background-color: #f2f2f2;
                }
    
                select{
                    @include wH(100%,40px);
                    padding: 8px;
                    border: none;
                    border-radius: 8px;
                    background-color: #f2f2f2;
                }
            }
        }

        h2{
            font-size: 2rem;
            margin-bottom: 32px;
            color: $colorTerciario;
        }

        .personal-1{
            label{
                p{
                    margin-bottom: 4px;
                }
                input{
                    margin-bottom: 20px;
                }
            }
        }

        .personal-2{
            label{
                p{
                    margin-bottom: 4px;
                }
                select{
                    margin-bottom: 20px;
                }
                input{
                    margin-bottom: 20px;
                }
            }
        }

        .personal-3{
            p{
                margin-bottom: 4px;
            }
            input{
                margin-bottom: 20px;
            }
        }

        .personal-4{
            p{
                margin-bottom: 4px;
            }
            input{
                margin-bottom: 20px;
            }
        }

        .personal-5{
            p{
                margin-bottom: 4px;
            }
            input{
                @include wH(70%,40px);
                padding: 12px;
                margin-bottom: 20px;
                border: none;
                border-radius: 8px;
                background-color: #f2f2f2;
            }
            select{
                @include wH(22%,40px);
                padding: 8px;
                margin-bottom: 20px;
                border: none;
                border-radius: 8px;
                background-color: #f2f2f2;
            }
        }

        .personal-6{
            p{
                margin-bottom: 4px;
            }
            input{
                @include wH(70%,40px);
                padding: 12px;
                margin-bottom: 16px;
                border: none;
                border-radius: 8px;
                background-color: #f2f2f2;
            }
            select{
                @include wH(22%,40px);
                padding: 8px;
                margin-bottom: 16px;
                border: none;
                border-radius: 8px;
                background-color: #f2f2f2;
            }
        }
    }

    .formulario__academica{
        
        h2{
            font-size: 2rem;
            margin-bottom: 8px;
            color: $colorTerciario;
        }

        .academica__descripcion{
            margin-bottom: 32px;
        }

        .academica{
            margin-bottom: 24px;
            
            .academica__titular{
                margin-bottom: 16px;
                font-size: 1.8rem;
            }
            p{
                margin-bottom: 4px;
            }
            input{
                margin-bottom: 20px;
            }
        }
    }

    .formulario__idiomas{
        h2{
            font-size: 2rem;
            margin-bottom: 24px;
            color: $colorTerciario;
        }
        
        div{
            .idioma__titular{
                margin-bottom: 16px;
                font-size: 1.8rem;
            }
            section{
                margin-bottom: 50px;
                input{
                    margin: 0;
                    margin-bottom: 16px;
                }
            }
        }
    
    }
}


/**
.formulario-empleo{
    margin: 0 auto;
    padding: 32px 0;
    @include flexRule(null,center);
}

.formulario{
    @include flexRule(column);
    padding: 0 10px;

    div{
        p{
            padding-bottom: 12px;
        }

        input{
            margin-bottom: 40px;
        }

        label{
            p{
                padding-bottom: 8px;
            }

            input{
                @include wH(100%,40px);
                padding: 12px;
                margin-bottom: 16px;
                border: none;
                border-radius: 8px;
                background-color: #f2f2f2;
            }

            select{
                @include wH(100%,40px);
                padding: 8px;
                margin-bottom: 16px;
                border: none;
                border-radius: 8px;
                background-color: #f2f2f2;
            }
        }
    }
    
    .boton{
        @include wH(50vw,5vh);
        margin: 0 auto;
        border: none;
        border-radius: 8px;
        background-color: $colorTerciario;
        color: $colorLetra2;
        font-size: 1.6rem;
        font-weight: 700;

        &:active{
            background-color: black;
        }
        
        &:hover{
            cursor: pointer;
        }
    }
}

@media(min-width: $breakpoint-tablet){
    .formulario{
        width: 600px;
    }
}

@media(min-width: $breakpoint-laptop){
    .formulario-empleo{
        width: 900px;

        form{
            display: grid;
            grid-template-columns: 3;
            grid-template-rows: 25;
        }
        
        div{
            
            p{
                padding-bottom: 12px;
            }
            
            input{
                margin-bottom: 40px;
            }
            
            label{
                width: 100%;

                input{
                    height: 48px;
                    margin-bottom: 32px;
                }

                textarea{
                    margin-bottom: 32px;
                }

                select{
                    margin-bottom: 32px;
                }
            }
        }

        .doble{
            display: flex;
            gap: 20px;
        }
        
        .boton{
            width: 200px;
        }
    }
}
**/