extend ../../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/11octubre.webp", alt="Background de la noticia")
                    h2 ASONAHORES 2024 Expo
            
            section.publicacion__content
                p October 11, 2024
                
                div
                    p 
                        | An honor to be sponsors at the opening of the ASONAHORES 2024 Expo! At Mejía Lora & Associates, we reaffirm our commitment to the tourism sector, supporting our clients and the sustainable development of the industry.
                    
            section.publicacion__otras
                h2 Other News

                +noticiaPrincipalEn