extend ../../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/11septiembre.webp", alt="Background de la noticia")
                    h2 ISO 9001-2015 Quality Follow-up Audit
            
            section.publicacion__content
                p September 11, 2024
                
                div
                    p 
                        | Last week, we had our ISO 9001-2015 quality follow-up audit conducted by Inteco, with the visit of José Luis Dávila, a great auditor and expert in all matters related to Quality.
                        br
                        br
                        | We are proud to have been certified in quality standards for over 5 years, never having received a non-conformity, while always remaining open to the opportunities and continuous improvement these processes represent. This commitment ensures the excellence of our services, customer satisfaction, and the growth of our MLA team.
                    


            section.publicacion__otras
                h2 Other News

                +noticiaPrincipalEn