extend ../../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/21octubre.webp", alt="Background de la noticia")
                    h2 Highlighting our commitment! Member of the Inter-American Firms Forum
            
            section.publicacion__content
                p October 21, 2024
                
                div
                    p 
                        | Mejía Lora & Associates upholds its commitment as an active member of the Inter-American Firms Forum, a reflection of excellence and adherence to established standards.
                
                    picture
                        img(src="/img/avisos/21octubre.webp", alt="Background de la noticia")
              
                  


            section.publicacion__otras
                h2 Other news

                +noticiaPrincipalEn