extend ../../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/25septiembre.webp", alt="Background de la noticia")
                    h2 Notification from the reporting entity of the Country-by-Country report in the Dominican Republic
            
            section.publicacion__content
                p September 25, 2024
                
                div
                    p 
                        | If you belong to a multinational group and are not the parent or representative company, remember that you have until September 30, 2024, to notify the DGII of the entity that will submit the Country-by-Country Report. Avoid penalties and ensure compliance with General Standard 08-21!
                        br
                        br
                        | Dominican companies that are part of a multinational group, other than the ultimate parent or representative company, are required to inform the DGII of the identity of the entity that will submit the Country-by-Country Report. They must specify the corporate name and the country of residence of that entity.
                        br
                        br
                        | For groups with a deadline for submitting the Country-by-Country Report on December 31, 2024, the reporting entity must be notified to the DGII no later than September 30, 2024.
                        br
                        br
                        | This notification must be made at least three months before the end of the fiscal year to ensure compliance with Paragraph I, Article 5, of General Standard 08-21.
                    


            section.publicacion__otras
                h2 Other News

                +noticiaPrincipalEn