extend ../../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/26septiembre.webp", alt="Background de la noticia")
                    h2 August 2024 Results Presentation
            
            section.publicacion__content
                p September 26, 2024
                
                div
                    p 
                        | We are honored by the invitation from the Minister of Tourism, David Collado, to the official presentation of the results for August 2024. It is a detailed analysis of the progress of one of the most dynamic sectors of our economy.
                        br
                        br
                        | As strategic allies in auditing and financial consulting, we are committed to promoting transparency and economic growth in the country. Let's continue building the future together!
                    


            section.publicacion__otras
                h2 Other News

                +noticiaPrincipalEn