extend ../../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/30octubre.webp", alt="Background de la noticia")
                    h2 BKR International 2024 Annual Worldwide Meeting in Tokyo, Japan
            
            section.publicacion__content
                p October 30, 2024
                
                div
                    p 
                        | MLA present at the BKR International 2024 Annual Worldwide Meeting in Tokyo, Japan, represented by Raymi J. Mejia and Maria de Lourdes Curiel de Mejia.
                        br
                        br
                        | Held from October 26 to 29, 2024, this meeting focuses on BKR's core beliefs about doing business, sharing knowledge, and fostering relationships, bringing together member firms from around the world.
                        br
                        br
                        | Our partner, Raymi J. Mejia, participated in the BKR International Global Council meeting, where strategic analysis and action plans for the upcoming periods were discussed.
                
                    picture
                        img(src="/img/avisos/30octubre.webp", alt="Background de la noticia")
              
                  


            section.publicacion__otras
                h2 Other news

                +noticiaPrincipalEn