.main-container__clientes {
  @include wH(100%, 400px);
  @include flexRule(column,center,center);

  
  h2{
    font-size: 3.6rem;
    margin-bottom: 40px;
  }

  .carousel {
    @include wH(100%, auto);
    position: relative;
    overflow: hidden;
    max-width: 1000px; // Establece un ancho máximo para el carrusel
  
    .carousel-container {
      display: flex;
      transition: transform 0.5s ease;
  
      img {
        @include wH(1000px, 162.5);
        max-width: 1200px; // Asegúrate de establecer el ancho exacto de la imagen
        object-fit: cover;
      }
    }
  }
  
  // Estilos para diferentes tamaños de pantalla
  @media screen and (max-width: 768px) {
    .carousel {
      max-width: 700px; // Cambia el ancho máximo del carrusel para pantallas pequeñas

      .carousel-container {
        display: flex;
        transition: transform 0.5s ease;
    
        img {
          width: 700px;
          max-width: 900px; // Asegúrate de establecer el ancho exacto de la imagen
          height: 113.75; // Asegúrate de establecer la altura exacta de la imagen
          object-fit: cover;
        }
      }
    }
  }

  @media screen and (max-width: 430px) {
    
    h2{
      font-size: 2.4rem;
    }
    .carousel {
      max-width: 312px; // Cambia el ancho máximo del carrusel para pantallas pequeñas

      .carousel-container {
        display: flex;
        transition: transform 0.5s ease;
    
        img {
          width: 312px;
          max-width: 900px; // Asegúrate de establecer el ancho exacto de la imagen
          height: 52px; // Asegúrate de establecer la altura exacta de la imagen
          object-fit: cover;
        }
      }
    }
  }
}