#btnBackToTop {
    position: fixed;
    bottom: 100px;
    right: 25px;
    background-color: $colorTerciario;
    color: $colorLetra2;
    @include wH(60px, 60px);
    @include flexRule(null,center,center);
    border-radius: 50%;
    cursor: pointer;
    z-index: 99;
    text-decoration: none;
    vertical-align: middle;
    padding-bottom: 8px;
}

#btnBackToTop span {
    font-size: 48px;
}

.main-container__carrusel{
      height: 637px;
      @include flexRule(null,center,center);
      background: #000116;

    .slider{
        position: relative;
        background: #000116;
        @include wH(100vw, 637px);
        overflow: hidden;

        .slide{
            @include wH(100%, 100%);
            position: absolute;
            clip-path: circle(0% at 0 50%);

            img{
                @include wH(100%, 100%);
                position: absolute;
                object-fit: cover;
            }
            
            .info{
                position: absolute;
                color: $colorLetra1;
                background: rgba(255, 255, 255, 0.7);
                width: 40%;
                max-width: 40%;
                margin-top: 150px;
                margin-left: 70px;
                padding: 40px;
                border-radius: 5px;
                box-shadow: 0 5px 25px rgb(1 1 1 / 5%);

                animation: fadeInDownBig;
                animation-duration: 1s;

                h2{
                    font-size: 2em;
                    font-weight: 800;
                    margin-bottom: 16px;
                }
                
                p{
                    font-size: 1.6rem;
                    font-weight: 400;
                    margin-bottom: 48px;
                }

                a{
                    text-decoration: none;
                    width: 213px;
                    color: $colorLetra2;
                    height: 41px;
                    padding: 10px;
                    background-color: $colorTerciario;
                    font-size: 1.4rem;
                    transform: all 300ms ease;

                    &:hover{
                        background-color: $colorCuaternario;
                        transform: all 300ms ease;
                        font-weight: 700;
                    }
                }
            }
        }

        .active{
            clip-path: circle(150% at 0 50%);
            transition: 1s;
        }
        
        .animate{
            animation: fadeInLeftBig;
            animation-duration: 2s;
        }

        .navigation{
            height: 90%;
            opacity: 0;
            transition: opacity 0.5s ease;
            @include flexRule(null,space-between,center);
        }
          
        &:hover .navigation{
            opacity: 1;
        }
          
        .prev-btn, .next-btn{
            z-index: 999;
            font-size: 2em;
            color: $colorLetra1;
            background: rgba(255, 255, 255, 0.8);
            padding: 30px;
            cursor: pointer;
        }
          
        .prev-btn{
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
          
        .next-btn{
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
          
        .navigation-visibility{
            z-index: 90;
            @include flexRule(null,center,flex-end);
            

            .slide-icon{
                z-index: 90;
                background: rgba(255, 255, 255, 0.5);
                width: 20px;
                height: 10px;
                transform: translateY(0px);
                margin: 0 6px;
                border-radius: 2px;
                box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
            }

            .slide-icon.active{
                background: $colorTerciario
            }
        }   
    }
      
 

    @media (max-width: 1400px){
        .slider{
            width: 100%;
        }
        
        .slider .slide .info{
            position: relative;
            width: 60%;
            max-width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
    }
      
      
    @media (max-width: 900px){
        .slider{
            width: 100%;
            min-height: 60vh;
        }
        
        .slider .slide .info{
            position: relative;
            width: 80%;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
        
    @media (max-width: 500px){
        .main-container__carrusel{
            height: 40vh;
        }
        .slider .slide .info .especial{
            height: 150px;
        }

        .slider .slide .info h2{
            font-size: 1.6rem;
            line-height: 24px;
            height: 48px;
        }
    
        .slider .slide .info p{
            font-size: 1.2rem;
        }

        .main{
            h2{
                padding-bottom: 48px;
            }
            p{
                display: none;
            }
        }
    }
}  