.main-container__noticias {
    width: 100%;
    background-color: $colorSecundario;
    color: white;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;

    h1{
        color: black;
        padding-bottom: 32px;
    }

    .noticias__container{
        width: 100%;
        
        @include flexRule(column,null,center);
        gap: 24px;

        .escondete{
            display: none;
        }

        .noticia__item{
            background-color: $colorTerciario;
            width: 272px;
            height: 532px;
            box-shadow: 8px 8px 14px 0px rgba(0,0,0,0.54);
            -webkit-box-shadow: 8px 8px 14px 0px rgba(0,0,0,0.54);
            -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.54);
            
            picture{
                width: 100%;
                padding: 15px 15px 0px;
                @include flexRule(null,center,center);

                img{
                    width: 250px;
                }
            }

            .noticia__contenido{
                padding: 15px;

                h2{
                    font-size: 2rem;
                    margin-bottom: 4px;
                }
                .fecha{
                    margin-bottom: 16px;
                    font-size: 1.2rem;
                }
                p{
                    font-size: 1.6rem;
                }
            }

            .noticia__enlace{
                padding: 15px;
                @include flexRule(null,flex-end,center);

                a{
                    color: white;
                    text-decoration: none;
                    font-size: 1.6rem;
                    font-weight: 700;
                    @include flexRule(null,null,center);

                    span{
                        width: 32px;
                        height: 32px;
                        margin-left: 14px;
                    }
                }
            }
        }
    }
}

@media(min-width: $breakpoint-tablet){
    .main-container__noticias{
        
        .noticias__container {
            @include flexRule(row,center);
            margin-top: 12px;
        }
    }
}

@media(min-width: $breakpoint-laptop){
    .main-container__noticias{
        
        .noticias__container{
            
            .escondete{
                display: block;
            }
        }
    }
}

@media(min-width: $breakpoint-desktop){
    .main-container__noticias{
        
        .noticias__container{
            gap: 72px;
            margin-bottom: 50px;
            
            .noticia__item{
                transition: all 300ms ease;
                &:hover{
                    transform: scale(1.05);
                    transition: all 300ms ease;
                }
            }
        }
    }
}