extend ../../../componentes/_plantillaEn.pug

block logo
    link(rel="shortcut icon", href="../../../icon/favicon.ico")
block mainLogo
    a.logo-container(href="../../index.html")
        img(src="../../../img/assets/logo2.webp" alt="Logo Mejía Lora y Asociados")
block burgerMenu 
    img(src="../../../icon/menu.svg", alt="menu hamburguesa")
block homeLinkMovil
    a(href="../../index.html") Home
block homeLink
    a(href="../../index.html") Home
block traductorMovil
    a(href="../../../html/capital-humano/formulario.html") VERSION EN ESPAÑOL
block stylesheet
    link(rel="stylesheet", href="../../../css/main.css")

block nosotros
    a(href="../../html/nosotros/quienesSomos.html") About Us
    ul.toggle__nosotros
        li
            a(href="../../html/nosotros/quienesSomos.html") Who we are
        li
            a(href="../../html/nosotros/registros.html") Registries and Memberships
        li
            a(href="../../html/nosotros/responsabilidadSoc.html") Social Responsability 
        li 
            a(href="../../html/nosotros/certificaciones.html") Certifications

block servicios
    a(href="../../html/servicios/auditoria.html") Services
    ul.toggle__servicios
        li
            a(href="../../html/servicios/auditoria.html") Audit and Assurance
        li
            a(href="../../html/servicios/asesoria.html") Tax Advisory
        li
            a(href="../../html/servicios/impuesto-nomina.html") Client Accounting Services (CAS)
        li 
            a(href="../../html/servicios/consultorias-negocios.html") Business and Financial Consulting
        li 
            a(href="../../html/servicios/desarrolloOrg.html") Organizational Development
        li 
            a(href="../../html/servicios/proteccion.html") Asset Protection

block noticias 
    a(href="../../html/noticias/noticias.html") News
    ul.toggle__novedades
        li
            a(href="../../html/noticias/noticias.html") Notices
        li
            a(href="../../html/noticias/boletines.html") News and Bulletins

block capitalHumano
    a(href="../../html/capital-humano/capital-humano.html") Team

block contacto 
    a(href="../../html/contacto/contacto.html") Contact

block botonEn
    a(href="../../../html/capital-humano/formulario.html").boton  ESPAÑOL

block footerLogo
    img(src="../../../img/assets/mla-white.webp" alt="Logo del 40 aniversario")

block footerSocialIcons
    a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
        img(src="../../../icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
    a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
        img(src="../../../icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
    a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
        img(src="../../../icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
    //Posiblemente será eliminado
    a(href="https://twitter.com/MejialoraAsoc") 
        img(src="../../../icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter")

block footerMovilIcons
    a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
        img(src="../../../icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
    a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
        img(src="../../../icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
    a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
        img(src="../../../icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
    //Posiblemente será eliminado
    a(href="https://twitter.com/MejialoraAsoc") 
        img(src="../../../icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter")

block javaScript
    script(src="../../../subscript.js")

block contenido
 
        mai
                
            
            section.formulario-empleo
                form(action="https://formsubmit.co/reclutamiento@mejialora.com" method="POST").formulario
                    div
                        label(for="nombre")
                            p Name and last name
                            input(type="text" id="nombre" placeholder="Full name" name="nombre" required)
                    div.doble
                        label(for="correo")
                            p Email address 
                            input(type="email" id="correo" placeholder="youremail@email.com" name="correo")

                        label(for="telefono")
                            p Phone number
                            input(type="number" id="Phone number" name="telefono")
                    
                    div 
                        label(for="Posicion")
                            p Position you wish to apply for
                            select(name="Posicion" id="posicion")
                                option External Auditor
                                option Tax Consultant
                                option Accountant

                    div.doble
                        label(for="habilidades")
                            p Skills
                            textarea(name="habilidades", cols="30", rows="10" id="habilidades") 

                        label(for="motivacion")
                            p Motivation
                            textarea(name="motivacion", cols="30", rows="10" id="motivacion")
                    
                    div
                        label(for="experiencia")
                            p Experience
                            textarea(name="experiencia", cols="30", rows="10" id="experiencia")
                    
                    div
                        p Attach CV (In PDF format - maximum size 5mb)
                        input(type="file" value="select File" accept="application/pdf" name="curriculum")
                    
                    input(type="submit" value="Submit").boton