extend ../../../componentes/_plantillaEn.pug

block logo
    link(rel="shortcut icon", href="../../../icon/favicon.ico")
block mainLogo
    a.logo-container(href="../../index.html")
        img(src="../../../img/assets/logo2.webp" alt="Logo Mejía Lora y Asociados")
block burgerMenu 
    img(src="../../../icon/menu.svg", alt="menu hamburguesa")
block homeLinkMovil
    a(href="../../index.html") Home
block homeLink
    a(href="../../index.html") Home
block traductorMovil
    a(href="../../../html/capital-humano/trabaja-nosotros.html") VERSION EN ESPAÑOL
block stylesheet
    link(rel="stylesheet", href="../../../css/main.css")

block nosotros
    a(href="../../html/nosotros/quienesSomos.html") About Us
    ul.toggle__nosotros
        li
            a(href="../../html/nosotros/quienesSomos.html") Who we are
        li
            a(href="../../html/nosotros/registros.html") Registries and Memberships
        li
            a(href="../../html/nosotros/responsabilidadSoc.html") Social Responsability 
        li 
            a(href="../../html/nosotros/certificaciones.html") Certifications

block servicios
    a(href="../../html/servicios/auditoria.html") Services
    ul.toggle__servicios
        li
            a(href="../../html/servicios/auditoria.html") Audit and Assurance
        li
            a(href="../../html/servicios/asesoria.html") Tax Advisory
        li
            a(href="../../html/servicios/impuesto-nomina.html") Client Accounting Services (CAS)
        li 
            a(href="../../html/servicios/consultorias-negocios.html") Business and Financial Consulting
        li 
            a(href="../../html/servicios/desarrolloOrg.html") Organizational Development
        li 
            a(href="../../html/servicios/proteccion.html") Asset Protection

block noticias 
    a(href="../../html/noticias/noticias.html") News
    ul.toggle__novedades
        li
            a(href="../../html/noticias/noticias.html") Notices
        li
            a(href="../../html/noticias/boletines.html") News and Bulletins

block capitalHumano
    a(href="../../html/capital-humano/capital-humano.html") Team

block contacto 
    a(href="../../html/contacto/contacto.html") Contact

block botonEn
    a(href="../../../html/capital-humano/trabaja-nosotros.html").boton  ESPAÑOL

block footerLogo
    img(src="../../../img/assets/mla-white.webp" alt="Logo del 40 aniversario")

block footerSocialIcons
    a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
        img(src="../../../icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
    a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
        img(src="../../../icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
    a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
        img(src="../../../icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
    //Posiblemente será eliminado
    a(href="https://twitter.com/MejialoraAsoc") 
        img(src="../../../icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter")

block footerMovilIcons
    a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
        img(src="../../../icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
    a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
        img(src="../../../icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
    a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
        img(src="../../../icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
    //Posiblemente será eliminado
    a(href="https://twitter.com/MejialoraAsoc") 
        img(src="../../../icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter")

block javaScript
    script(src="../../../subscript.js")



block contenido
 
        main
            section.encabezado__capital
                picture
                    img(src="../../../img/servicios/DO3.webp", alt="Foto de una Lupa analizando un documento")
                .encabezado__titular
                    h2 Work With Us


                section.trabajaN__enfoque.fade-in
                    article
                        h2 Open Positions
                        ul
                            li
                                a(href="../../html/capital-humano/auditor-externo.html") External Auditor
                            li
                                a(href="../../html/capital-humano/consultor-impuestos.html") Tax Consultant
                            li
                                a(href="../../html/capital-humano/contador.html") Accountant 
            
            section.auditoria__contacto.fade-in
                p For more information and request our services
                a(href="../../html/contacto/contacto.html") Contact us now