extend ../../componentes/_subplantilla.pug
block logo
    link(rel="shortcut icon", href="../../icon/favicon.ico")
block stylesheet
    link(rel="stylesheet", href="../../css/main.css")  
block contenido

        main
            section.news__titular
                h2 Avisos

            div.news__container
                section.news-noticias
                    +aviso("microsoftteams-image.webp","Reunion de BKR Internacional","BRK Regional Meeting","MLA cuenta con respaldo Internacional. Una de las principales (top 5) asociaciones mundiales de empresas independientes de auditorias y consultoría.","#")
                    hr
                    +aviso("microsoftteams-image.webp","Reunion de BKR Internacional","BRK Regional Meeting","MLA cuenta con respaldo Internacional. Una de las principales (top 5) asociaciones mundiales de empresas independientes de auditorias y consultoría.","#")
                    hr
                    +aviso("microsoftteams-image.webp","Reunion de BKR Internacional","BRK Regional Meeting","MLA cuenta con respaldo Internacional. Una de las principales (top 5) asociaciones mundiales de empresas independientes de auditorias y consultoría.","#")
                    hr
                    +aviso("microsoftteams-image.webp","Reunion de BKR Internacional","BRK Regional Meeting","MLA cuenta con respaldo Internacional. Una de las principales (top 5) asociaciones mundiales de empresas independientes de auditorias y consultoría.","#")
                    hr
                    +aviso("microsoftteams-image.webp","Reunion de BKR Internacional","BRK Regional Meeting","MLA cuenta con respaldo Internacional. Una de las principales (top 5) asociaciones mundiales de empresas independientes de auditorias y consultoría.","#")
                    hr
                    +aviso("microsoftteams-image.webp","Reunion de BKR Internacional","BRK Regional Meeting","MLA cuenta con respaldo Internacional. Una de las principales (top 5) asociaciones mundiales de empresas independientes de auditorias y consultoría.","#")
                    
                section.news-boletines
                    h2 Boletines
                    article
                        img(src="../../img/avisos/doing.webp", alt="Imagen con el escudo de la bandera dominicana")
                        a(href="") Descargar PDF
                    article
                        img(src="../../img/avisos/as-para-el-cumplimiento-tributario-1.webp", alt="Imagen de felicitaciones")
                        a(href="") Descargar PDF
                    article
                        img(src="../../img/avisos/letter-from-the-chair.webp", alt="Carta del chairman de BKR")
                        a(href="") Descargar PDF
                    article
                        img(src="../../img/avisos/brk-india-2.webp", alt="Foto del Lic. Raymi Mejia en la india")
                        a(href="") Descargar PDF
                    article
                        img(src="../../img/avisos/boletin.webp", alt="foto de un boletin")
                        a(href="") Descargar PDF