.encabezado {
    background-color: $colorPrincipal;
    .imp__encabezado{  
        div{
            width: 100%;
            height: 100px;
            background-image: url(../img/bg-section.webp);
            background-repeat: no-repeat;
            background-position:center;
            background-size: cover;
            color: $colorLetra2;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2{
                font-size: 2.8rem;
                font-weight: 300;
                padding: 15px;
            }
        }
        
    }

    .imp__enfoque{
        
        picture {
            width: 320px;
            img {
                width: 100%;
            }
        }
        article {
            padding: 48px 20px;
            strong{
                display: block;
                font-size: 1.8rem;
                line-height: 2.4rem;
                font-weight: 480;
                margin-bottom: 20px;
            }
            p {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 2rem;
            }
        }
    }
}

@media(min-width: $breakpoint-tablet){
    .encabezado {    
        .imp__enfoque{
            
        
            article{
                padding: 48px 40px;
                strong{
                    display: block;
                    font-size: 2rem;
                    line-height: 3rem;
                }
                p {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                }
            }
        }
    }
}

@media(min-width: $breakpoint-laptop){
    .encabezado {
        .imp__encabezado{  
            div{
                height: 170px;
                h2{
                    font-size: 4rem;
                }
            }
            
        }
    
        .imp__enfoque{
            display: flex;
            picture {
                width: 50%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            article {
                width: 50%;
                padding: 48px 80px;
                align-self: center;
            }
        }
    }
}