extend ../../../componentes/_plantillaEn.pug

block logo
    link(rel="shortcut icon", href="../../../icon/favicon.ico")
block mainLogo
    a.logo-container(href="../../index.html")
        img(src="../../../img/assets/logo2.webp" alt="Logo Mejía Lora y Asociados")
block burgerMenu 
    img(src="../../../icon/menu.svg", alt="menu hamburguesa")
block homeLinkMovil
    a(href="../../index.html") Home
block homeLink
    a(href="../../index.html") Home
block traductorMovil
    a(href="../../../html/nosotros/certificaciones.html") VERSION EN ESPAÑOL
block stylesheet
    link(rel="stylesheet", href="../../../css/main.css")

block nosotros
    li
        a(href="../../html/nosotros/quienesSomos.html") Who we are
    li
        a(href="../../html/nosotros/registros.html") Registries and Memberships
    li
        a(href="../../html/nosotros/responsabilidadSoc.html") Social Responsability 
    li 
        a(href="../../html/nosotros/certificaciones.html") Certifications

block servicios
    li
        a(href="../../html/servicios/auditoria.html") Audit and Assurance
    li
        a(href="../../html/servicios/asesoria.html") Tax Advisory
    li
        a(href="../../html/servicios/impuesto-nomina.html") Client Accounting Services (CAS)
    li 
        a(href="../../html/servicios/consultorias-negocios.html") Business and Financial Consulting
    li 
        a(href="../../html/servicios/desarrolloOrg.html") Organizational Development
    li 
        a(href="../../html/servicios/proteccion.html") Asset Protection

block noticias 
    li
        a(href="../../html/noticias/noticias.html") Notices
    li
        a(href="../../html/noticias/boletines.html") News and Bulletins

block capitalHumano
    a(href="../../html/capital-humano/capital-humano.html") Team

block contacto 
    a(href="../../html/contacto/contacto.html") Contact

block botonEn
    a(href="../../../html/nosotros/certificaciones.html").boton  ESPAÑOL

block footerLogo
    img(src="../../../img/assets/mla-white.webp" alt="Logo del 40 aniversario")

block footerSocialIcons
    a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
        img(src="../../../icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
    a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
        img(src="../../../icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
    a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
        img(src="../../../icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
    //Posiblemente será eliminado
    a(href="https://twitter.com/MejialoraAsoc") 
        img(src="../../../icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter")

block footerMovilIcons
    a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
        img(src="../../../icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
    a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
        img(src="../../../icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
    a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
        img(src="../../../icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
    //Posiblemente será eliminado
    a(href="https://twitter.com/MejialoraAsoc") 
        img(src="../../../icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter")

block javaScript
    script(src="../../../subscript.js")



block contenido

        main.cert-container
            section.cert-container__titular
                h2 Certifications

            section.cert-container__principal.fade-in
                strong “Our organization raises its commitment to quality by having a Quality Management System certified by INTECO under the standard ISO 9001: 2015, RE-019/2019”.
                p Mejia Lora y Asociados became the first Audit Firm in the Dominican Republic to obtain INTECO certification under the ISO 9001: 2015 standard. In Mejía Lora y Asociados we are committed to the full satisfaction of our clients and other stakeholders; therefore, we act ethically and transparently, guaranteeing to provide our Audit, CAS (Client Accounting Services), Consulting, Tax Advisory and Organizational Development services in an efficient and timely manner, fully complying with the law, agreements, rules and regulations and continuously improving our processes.
                p The partners of the Firm decided to certify the Quality Management System as a strategic tool to identify risks and opportunities, as well as to systematically manage and control the organization in terms of quality. The foregoing, through continuous improvement in the performance of its processes and carrying out the fundamental concepts of excellence and best management practices.
                p The project was carried out by the Organizational Development Department and the partner Firelli Mejía on behalf of the Management. This is also a service offered by the Firm.
                p To obtain this certification, our organization developed an arduous program for the implementation of the standard that implied setting goals and overcoming great challenges, achieved through training programs, management of change in the organizational culture and others in order to guarantee the excellence of the Quality Management System.
                picture.fade-in
                    img(src="../../../img/Certificaciones/Logo-9001-IQNet-FIRMADO_Página_1-212x300.webp", alt="Normas ISO Página 1")
                    img(src="../../../img/Certificaciones/Logo-9001-IQNet-FIRMADO_Página_2-212x300.webp", alt="Normas Iso Página 2")
                    img(src="../../../img/Certificaciones/MLAISO2-300x199.webp", alt="Certificacion INTECO")
            
            section.cert-container__contacto.fade-in
                p For more information and request our services
                a(href="../../html/contacto/contacto.html") Contact us now