extend ../../../componentes/_plantillaEn.pug

block logo
    link(rel="shortcut icon", href="../../../icon/favicon.ico")
block mainLogo
    a.logo-container(href="../../index.html")
        img(src="../../../img/assets/logo2.webp" alt="Logo Mejía Lora y Asociados")
block burgerMenu 
    img(src="../../../icon/menu.svg", alt="menu hamburguesa")
block homeLinkMovil
    a(href="../../index.html") Home
block homeLink
    a(href="../../index.html") Home
block traductorMovil
    a(href="../../../html/nosotros/responsabilidadSoc.html") VERSION EN ESPAÑOL
block stylesheet
    link(rel="stylesheet", href="../../../css/main.css")

block nosotros
    li
        a(href="../../html/nosotros/quienesSomos.html") Who we are
    li
        a(href="../../html/nosotros/registros.html") Registries and Memberships
    li
        a(href="../../html/nosotros/responsabilidadSoc.html") Social Responsability 
    li 
        a(href="../../html/nosotros/certificaciones.html") Certifications

block servicios
    li
        a(href="../../html/servicios/auditoria.html") Audit and Assurance
    li
        a(href="../../html/servicios/asesoria.html") Tax Advisory
    li
        a(href="../../html/servicios/impuesto-nomina.html") Client Accounting Services (CAS)
    li 
        a(href="../../html/servicios/consultorias-negocios.html") Business and Financial Consulting
    li 
        a(href="../../html/servicios/desarrolloOrg.html") Organizational Development
    li 
        a(href="../../html/servicios/proteccion.html") Asset Protection

block noticias 
    li
        a(href="../../html/noticias/noticias.html") Notices
    li
        a(href="../../html/noticias/boletines.html") News and Bulletins

block capitalHumano
    a(href="../../html/capital-humano/capital-humano.html") Team

block contacto 
    a(href="../../html/contacto/contacto.html") Contact

block botonEn
    a(href="../../../html/nosotros/responsabilidadSoc.html").boton  ESPAÑOL

block footerLogo
    img(src="../../../img/assets/mla-white.webp" alt="Logo del 40 aniversario")

block footerSocialIcons
    a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
        img(src="../../../icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
    a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
        img(src="../../../icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
    a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
        img(src="../../../icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
    //Posiblemente será eliminado
    a(href="https://twitter.com/MejialoraAsoc") 
        img(src="../../../icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter")

block footerMovilIcons
    a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
        img(src="../../../icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
    a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
        img(src="../../../icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
    a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
        img(src="../../../icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
    //Posiblemente será eliminado
    a(href="https://twitter.com/MejialoraAsoc") 
        img(src="../../../icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter")

block javaScript
    script(src="../../../subscript.js")




block contenido
 
        main.fade-in
            section.RS__container
                section.RStitular
                    .RStitular__text-container
                        h2 Social responsability
                        p For our firm, social responsibility is a fundamental pillar on which the development of our business is governed.
                
                section.RS__text-container.fade-in
                    strong Our firm is founded on the principles of family values and characterized by continuous growth, which is based on the professionalism of our human resources, the quality of our services and the honesty and respect for our clients and partners.
                    p.RS__main-text Social responsibility goes beyond an activity, for us it is the conscious and consistent commitment to fully comply with the purpose of the company with integrity, demonstrating respect for people, ethical values, the community and the environment, thus contributing to the common well-being, which is translated into concrete actions that seek the benefit of all the actors involved in MLA activities. Among them we can highlight:
                
                    div.RS__externos.fade-in
                        h2 External actors:
                        article
                            img(src='../../../icon/check.svg' alt='check icon')
                            p Continuous collaboration to the civil society, nonprofit organizations, sports institutions, among others. All with the aim of helping to promote activities related to culture, education, sports, the environment, and health.
                        picture
                            img(src="../../../img/responsabilidadSoc/logoFoal.webp", alt="logo FOAL")
                            img(src="../../../img/responsabilidadSoc/logo-quiereme.webp", alt="logo Quiereme como Soy")
                            img(src="../../../img/responsabilidadSoc/logo-ldcc.webp", alt="logo Liga Dominicana contra el Cancer")
                            img(src="../../../img/responsabilidadSoc/logo-ferds_1.webp", alt="logo FERDS")
                            img(src="../../../img/responsabilidadSoc/hvye.webp", alt="Logo HVYE")
                            img(src="../../../img/responsabilidadSoc/logo-fppm.webp", alt="logo FPPM")
                        article
                            img(src='../../../icon/check.svg' alt='check icon')
                            p We respect the environment, avoiding pollution and minimizing the generation of waste and rationalizing the use of natural and energy resources.
                div.RS__internos.fade-in
                    h2 Internal actors:
                    .RS__internos--item
                        +actoresInEn('check.svg','check icon','We have established controls that ensure non-discrimination (sex, race, religion, social status) in our recruitment processes.')
                        +actoresInEn('check.svg','check icon','We procure the fair distribution of the wealth generated among collaborators and regulatory entities.')
                        +actoresInEn('check.svg','check icon','We ensure the constant training and promote the transmission of knowledge among our employees.')
                        +actoresInEn('check.svg','check icon','We comply with legal regulations regarding salaries, medical care, hygiene and safety measures in the workplace.')
                        +actoresInEn('check.svg','check icon','We encourage equality in our environment, respecting and promoting social and cultural diversity in our firm.')
                        +actoresInEn('check.svg','check icon','We offer career and promotion opportunities to our staff to promote personal and professional development.')
                        +actoresInEn('check.svg','check icon','We support emerging and young professionals, as well as final year university students, by offering them the opportunity to join to our Accounting and Tax Department to obtain practical experience and start their career, thus improving educational quality and allowing them to integrate in teamwork.','diferenciador')
                        