extend ../../componentes/_plantilla.pug
block logo
    link(rel="shortcut icon", href="../../img/favicon.ico")
block stylesheet
    link(rel="stylesheet", href="../../css/main.css")
block img
    img(src="../../img/logo2.webp" alt="Logo Mejía Lora y Asociados")
block menu
    a(href=""): img(src="../../img/menu.svg", alt="menu hamburguesa")
block logoFooter
    picture: img(src="../../img/40Aniv.webp" alt="Logo del 40 aniversario")
block contenido 
 
        main
            section.encabezado
                section.asesoria__encabezado
                    div
                        h2 Asesoria Fiscal
                    
            
                section.asesoria__enfoque
                    picture
                        img(src="../../img/servicios/auditoria.webp", alt="Imagende una lupa revisando documentos")
                    article 
                        strong Brindamos servicios de asesoría especializada desde la óptica de aminorar riesgos y contingencias tributarias, recomendando llevar a cabo el debido proceso. Proveemos a nuestros clientes servicios vinculados con la elaboración y presentación de sus declaraciones y envíos de reportes fiscales, siendo el objetivo la presentación exacta y oportuna.
                        p En el mismo orden, asistimos a nuestros clientes en la gestión del cumplimiento ante los deberes formales y el cumplimiento de sus responsabilidades como contribuyente, ya sea sobre obligaciones periódicas mensuales o anuales. Estamos sujetos a principios para una práctica impositiva responsable, que establecen conductas éticas fundamentales.

            section.asesoria__servicios
                strong Dentro de los servicios de impuestos se abarcan los siguientes:
                h3 Asesoría Fiscal
                ul
                    li Asesoría Fiscal.
                    li Asesoría Especializada en fusiones y Adquisiciones.
                    li Acuerdos de exenciones fiscales.
                    li Planeación impositiva- previsional: Análisis impositivo sobre nuevas inversiones; Asesoramiento en la búsqueda de economías impositivas.
                    li Planificación Fiscal: Asistimos a las empresas en el análisis y la reestructuración de sus funciones tributarias internas, a fin de que sean más eficientes y efectivas en el manejo de sus responsabilidades fiscales y el apropiado cumplimiento de las obligaciones tributarias.
                h3 Consultoría Impositiva
                ul
                    li Representación y asesoría respecto de requerimientos efectuados por organismos reguladores.
                    li Representación y elaboración de solicitudes generales realizadas ante la Administración Tributaria.
                    li Apelaciones de resoluciones emanadas de los organismos reguladores.
                    li Elaboración de Recursos de Reconsideración.
                    li Recursos ante el Tribunal Contencioso Tributario y Administrativo.
                    li Incorporación empresarial y actualización del Registro Mercantil y Registro Nacional de Contribuyentes.
                    li Revisión de créditos fiscales.
                    li Análisis Legislación nacional / internacional; Análisis y respuestas sobre temas específicos en materia impositiva.
                h3 Due diligence
                p Revisión enfocada en la razonabilidad de cifras y validación del estatus fiscal de entidades comerciales.
                h3.espacio Defensa en Fiscalizaciones
                h3.espacio Impuestos a la Propiedad de Inmuebles
                h3.espacio Planeación tributaria nacional e internacional
                h3 Precios de Transferencia
                p Elaboración de estudios orientados a ratificar cumplimientos de comparabilidad en precios pactados con relacionados. A su vez, elaboración de las declaraciones informativas de operaciones con relacionados.
                h3 Preparación y/o revisión de declaraciones juradas
                ul
                    li Revisión y guía respecto al planteamiento de las declaraciones de impuestos realizadas por las empresas.
                    li Elaboración de las declaraciones juradas anuales y mensuales, así como de los formatos de envíos de datos.
                    li Revisión fiscal, detención de errores en las presentaciones, validación de diferencias en las declaraciones propias y con terceros.
                    li Regímenes de regularización impositiva y previsional, facilidades de pago, etc.
                  
                h3 Impuestos sobre Sucesiones

            section.auditoria__contacto
                p Para obtener mas información y solicitar nuestros servicios
                a(href="") Contáctenos ahora