extend ../../componentes/_plantilla.pug
block logo
    link(rel="shortcut icon", href="../../img/favicon.ico")
block stylesheet
    link(rel="stylesheet", href="../../css/main.css")
block img
    img(src="../../img/logo2.webp" alt="Logo Mejía Lora y Asociados")
block menu
    a(href=""): img(src="../../img/menu.svg", alt="menu hamburguesa")
block logoFooter
    picture: img(src="../../img/40Aniv.webp" alt="Logo del 40 aniversario")
block contenido 
 
        main